+include-style('index-hero')
+include-script('index-hero')

section.index-hero
	.container
		.index-hero__inner
			.index-hero__item.index-hero__item--main
				.index-hero__slider
					+swiper({
						container_mod: 'slider-fs__container',
						wrapper_mod: '',
						navigation: true,
						pagination: false,
						autoplay: true
					}).slider-fs.js-slider-fs
						.swiper-slide 
							<picture class=" index-slider__img-wrap">
								<source  media="(min-width: 768px)"  srcset= '/local/templates/html/images/slider-1.jpg'>
								<source media="(min-width: 0px)"  srcset="/local/templates/html/images/slider-1-mob.jpg">
								img(src="/local/templates/html/images/slider-1.jpg" alt="")
							</picture>
							p 
								span 1000000
						.swiper-slide
							+lazy-picture-slider({
								source:[
									{
									media: '768',
									img: 'images/slider-1.jpg',
									placeholder: pixel
									},
										{
									media: '0',
									img: 'images/slider-1-mob.jpg',
									placeholder: pixel
									}
								],
								text: 'Slide 1',
								link: true,
								link_class: 'slider__link'
							})
						.swiper-slide
							+lazy-picture-slider({
								source:[
									{
									media: '768',
									img: 'images/slider-1.jpg',
									placeholder: pixel
									},
										{
									media: '0',
									img: 'images/slider-1-mob.jpg',
									placeholder: pixel
									}
								],
								text: 'Slide 2',
								link: true,
								link_class: 'slider__link'
							})
						.swiper-slide
							+lazy-picture-slider({
								source:[
									{
									media: '768',
									img: 'images/slider-1.jpg',
									placeholder: pixel
									},
										{
									media: '0',
									img: 'images/slider-1-mob.jpg',
									placeholder: pixel
									}
								],
								text: "Slide 3"
							})