include ../components/ajax/mixin__ajax.pug
include ../components/counter/mixin__counter.pug
include ../components/mixin__product-card/mixin__product-card.pug
include ../components/mixin__product-label/mixin__product-label.pug
include ../components/mixin__product-status/mixin__product-status.pug
include ../components/nav/mixin__nav.pug
include ../mixins/icon/mixin__icon.pug
include ../mixins/lazy-bg/mixin__lazy-bg.pug
include ../mixins/lazy-img-slider/mixin__lazy-img.pug
include ../mixins/lazy-img/mixin__lazy-img.pug
include ../mixins/lazy-picture-slider/mixin__lazy-picture-slider.pug
include ../mixins/lazy-video/mixin__lazy-video.pug
include ../mixins/picture/mixin__picture.pug
include ../mixins/swiper/mixin__swiper-nav.pug
include ../mixins/swiper/mixin__swiper.pug
