+include-style('product-slider')
+include-script('product-slider')
section.product-slider-section.section-margin
	+index-presection({
		title: 'Похожие товары',
		mod: 'presection--inner',
		link: false
	})
	.container
		.product-slider-ajax-tabs
			.product-slider-ajax-tabs__inner
				.product-slider-ajax-tabs__item.active По цене
				.product-slider-ajax-tabs__item По назначению
				.product-slider-ajax-tabs__item По бренду
				.product-slider-ajax-tabs__item По цвету
		.product-slider-section__inner
			+swiper({
				container_mod: 'product-slider__container',
				wrapper_mod: '',
				navigation: true,
				pagination: true,
			}).product-slider.js-slider-product
				.product-card-wrap
					+product-card({
						discount: '-12%',
						img:'/images/product-1.png',
						new: true,
						hit: true,
						action: true,
						recommend: true,
						slider: true,
						favourites: true,
						availability: 'available',
						title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
					})
				.product-card-wrap
					+product-card({
						discount: '-12%',
						img:'/images/product-2.png',
						new: true,
						hit: true,
						action: true,
						recommend: true,
						slider: true,
						availability: 'available',
						title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
					})
				.product-card-wrap
					+product-card({
						discount: '-12%',
						img:'/images/product-3.png',
						new: true,
						hit: true,
						action: true,
						recommend: true,
						slider: true,
						availability: 'order',
						title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
					})
				.product-card-wrap
					+product-card({
						mod: 'product-card--unavailable',
						discount: '-12%',
						img:'/images/product-4.png',
						new: true,
						hit: true,
						action: true,
						recommend: true,
						slider: true,
						availability: 'unavailable',
						title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
					})
				.product-card-wrap
					+product-card({
						mod: 'product-card--unavailable',
						discount: '-12%',
						img:'/images/product-2.png',
						new: true,
						hit: true,
						action: true,
						recommend: true,
						slider: true,
						availability: 'false',
						title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
					})
				.product-card-wrap
					+product-card({
						mod: 'product-card--unavailable',
						discount: '-12%',
						img:'/images/product-2.png',
						new: true,
						hit: true,
						action: true,
						recommend: true,
						slider: true,
						availability: 'false',
						title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
					})
				.product-card-wrap
					+product-card({
						mod: 'product-card--unavailable',
						discount: '-12%',
						img:'/images/product-1.png',
						new: true,
						hit: true,
						action: true,
						recommend: true,
						slider: true,
						availability: 'false',
						title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
					})
				.product-card-wrap
					+product-card({
						mod: 'product-card--unavailable',
						discount: '-12%',
						img:'/images/product-1.png',
						new: true,
						hit: true,
						action: true,
						recommend: true,
						slider: true,
						availability: 'false',
						title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
					})
				.product-card-wrap
					+product-card({
						mod: 'product-card--unavailable',
						discount: '-12%',
						img:'/images/product-1.png',
						new: true,
						hit: true,
						action: true,
						recommend: true,
						slider: true,
						availability: 'false',
						title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
					})
				.product-card-wrap
					+product-card({
						mod: 'product-card--unavailable',
						discount: '-12%',
						img:'/images/product-1.png',
						new: true,
						hit: true,
						action: true,
						recommend: true,
						slider: true,
						availability: 'false',
						title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
					})
				.product-card-wrap
					+product-card({
						mod: 'product-card--unavailable',
						discount: '-12%',
						img:'/images/product-1.png',
						new: true,
						hit: true,
						action: true,
						recommend: true,
						slider: true,
						availability: 'false',
						title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
					})
				.product-card-wrap
					+product-card({
						mod: 'product-card--unavailable',
						discount: '-12%',
						img:'/images/product-1.png',
						new: true,
						hit: true,
						action: true,
						recommend: true,
						slider: true,
						availability: 'false',
						title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
					})
