@import "src/assets/css/vars_mixins/vars_mixins";

.promo{
    padding-bottom: 100px;
	padding-top: 60px;
    background-image: url(/local/templates/html/images/bg.png);
    background-size: 416px;
    background-repeat: no-repeat;
    background-position: 92% 140%;
    &__title{
        font-weight: 700;
        font-size: 4.8rem;
        color: $primary;
        margin-bottom: 30px;
    }
}



.product-slider {

	z-index: unset !important;
	height : 480px;
	margin : 0px;
	padding: 0 90px;
	position: relative;

	@media (max-width: $sm - 1) {
		// overflow: hidden;
		padding: 0 10px;
	}

	@media (max-width: $md - 1) {
		margin      : 0px -4px;
		margin-right: 0px;
	}

	@media (max-width: $xs - 1) {
		margin-right: -10px;
	}

	&__container {
		&.swiper-container {
			padding       : 16px 10px;
			padding-bottom: 24px;
			margin        : -16px -12px;
			margin-bottom : -24px;
			z-index       : 10;

			@media (max-width: $md - 1) {
				// padding: 0px 0px;
				// margin : 0px 0px;
			}
		}


	}
	.swiper-wrapper{
		@media (max-width: $md - 1) {
			align-items: start;
		}
	}

	.product-card-wrap {
		padding: 0px 12px;
		width  : calc(100% / 4);
		flex   : 0 0 auto;

		@media (max-width: $xl - 1) {
			width: calc(100% / 4);
		}

		@media (max-width: $lg - 1) {
			width: calc(100% / 3);
		}

		@media (max-width: $md - 1) {
			width  : 310px;
			padding: 0px 4px;
			// margin: 0 10px;
			display: flex;
		}
		@media (max-width: $xs - 1) {
			margin: 0 10px;
			display: block;
		}
	}
	.swiper-button-next,
	.swiper-button-prev {
        background-color: transparent;
        border: none;
        top: 190px;
        bottom: auto;
        margin: auto 0;
        transition: all .3s ease;
		&:hover{
			box-shadow: none;
			.icon{
				fill: $gray;
                transform: scale(1.1);
			}
		}
        .icon{
            fill: $second;
        }

	}
	.swiper-button-next {
		right: 20px;
	}
	.swiper-button-prev {
		left: 20px;
	}

	.swiper-pagination {
		align-items: center;
		&-bullet{
			background-color: #d3d3d3;
			width: 6px;
			height: 6px;
			margin-right: 20px;
			border: none;
			&-active{
				width: 10px;
				height: 10px;
				background-color: $second;
			}
		}
	}
}

// .product-slider-section-bg {
// 	padding         : 52px 0px;
// 	background-color: #FAFAFB;

// 	@media (max-width: $md - 1) {
// 		padding: 40px 0px;
// 	}

// 	@media (max-width: $sm - 1) {
// 		padding: 25px 0px;
// 	}
// }
