include ../../utility/_globalVars
include ../../utility/_mixins
include ../../utility/_functions
.header-catalog__inner
	.slam-menu.js-slam-menu
		.nav-bg
		ul.nav-list
			li.nav-item.has-nav
				a.nav-link(href='/catalog/bakaleya-isg56/' aria-label='Стройматериалы')
					span.nav-item-img-wrap
						+icon('i-catalog-2')(style="width: 30px; height: 30px")
					span.nav-item-name Автотовары
					span.nav-toggle.js-nav-toggle
					.nav-lvl2-bg
						+icon('i-catalog-2')(style="width: 100%; height: 100%")


				.js-nav.nav-lvl2
					ul.nav-lvl2-list
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/bakaleya-isg56/gotovye-zavtraki-popkorn-kukuruznye-palochki-isg137/' aria-label='Готовые завтраки, попкорн, кукурузные палочки')
								span.nav-lvl2-item-name Напольные покрытия
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/bakaleya-isg56/gotovye-zavtraki-popkorn-kukuruznye-palochki-isg137/kukuruznye-palochki-isg325/' aria-label='Кукурузные палочки')
											span.nav-lvl3-item-name Кукурузные палочки
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/bakaleya-isg56/gotovye-zavtraki-popkorn-kukuruznye-palochki-isg137/popkorn-isg218/' aria-label='Попкорн')
											span.nav-lvl3-item-name Попкорн
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/bakaleya-isg56/gotovye-zavtraki-popkorn-kukuruznye-palochki-isg137/sukhie-zavtraki-khlopya-myusli-kranchi-podushechki-kolechki-shariki-zvezdochki-isg288/' aria-label='Сухие завтраки ( хлопья, мюсли, кранчи, подушечки, колечки, шарики, звездочки)')
											span.nav-lvl3-item-name Сухие завтраки ( хлопья, мюсли, кранчи, подушечки, колечки, шарики, звездочки)
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/bakaleya-isg56/konservatsiya-ovoshchnaya-fruktovaya-med-isg263/' aria-label='Консервация овощная, фруктовая, мед')
								span.nav-lvl2-item-name Консервация овощная, фруктовая, мед
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/bakaleya-isg56/konservatsiya-ovoshchnaya-fruktovaya-med-isg263/baklazhany-tsukini-solyanki-prochaya-zakusochnaya-konservatsiya-isg324/' aria-label='Баклажаны, цукини, солянки, прочая закусочная консервация')
											span.nav-lvl3-item-name Баклажаны, цукини, солянки, прочая закусочная консервация
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/bakaleya-isg56/konservatsiya-ovoshchnaya-fruktovaya-med-isg263/varene-dzhemy-toppingi-isg317/' aria-label='Варенье, джемы, топпинги')
											span.nav-lvl3-item-name Варенье, джемы, топпинги
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/bakaleya-isg56/konservatsiya-ovoshchnaya-fruktovaya-med-isg263/goroshek-kukuruza-isg84/' aria-label='Горошек, кукуруза')
											span.nav-lvl3-item-name Горошек, кукуруза
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/bakaleya-isg56/konservatsiya-ovoshchnaya-fruktovaya-med-isg263/griby-isg225/' aria-label='Грибы')
											span.nav-lvl3-item-name Грибы
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/bakaleya-isg56/konservatsiya-ovoshchnaya-fruktovaya-med-isg263/med-isg184/' aria-label='Мед')
											span.nav-lvl3-item-name Мед
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/bakaleya-isg56/konservatsiya-ovoshchnaya-fruktovaya-med-isg263/ogurtsy-isg27/' aria-label='Огурцы')
											span.nav-lvl3-item-name Огурцы
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/bakaleya-isg56/konservatsiya-ovoshchnaya-fruktovaya-med-isg263/olivki-masliny-isg70/' aria-label='Оливки, маслины')
											span.nav-lvl3-item-name Оливки, маслины
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/bakaleya-isg56/konservatsiya-ovoshchnaya-fruktovaya-med-isg263/tomaty-tomaty-vyalenye-isg197/' aria-label='Томаты, томаты вяленые')
											span.nav-lvl3-item-name Томаты, томаты вяленые
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/bakaleya-isg56/konservatsiya-ovoshchnaya-fruktovaya-med-isg263/fasol-isg50/' aria-label='Фасоль')
											span.nav-lvl3-item-name Фасоль
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/bakaleya-isg56/konservatsiya-ovoshchnaya-fruktovaya-med-isg263/fruktovo-yagodnaya-konservatsiya-isg205/' aria-label='Фруктово-ягодная консервация')
											span.nav-lvl3-item-name Фруктово-ягодная консервация
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/bakaleya-isg56/krupy-bobovye-kashi-khlopya-isg49/' aria-label='Крупы , бобовые, каши, хлопья')
								span.nav-lvl2-item-name Крупы, бобовые, каши, хлопья
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/bakaleya-isg56/krupy-bobovye-kashi-khlopya-isg49/bulgur-kinoa-kuskus-isg234/' aria-label='Булгур, киноа, кускус')
											span.nav-lvl3-item-name Булгур, киноа, кускус

									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/bakaleya-isg56/krupy-bobovye-kashi-khlopya-isg49/grechka-isg275/' aria-label='Гречка')
											span.nav-lvl3-item-name Гречка
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/bakaleya-isg56/krupy-bobovye-kashi-khlopya-isg49/kashi-khlopya-isg312/' aria-label='Каши, хлопья')
											span.nav-lvl3-item-name Каши, хлопья
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/bakaleya-isg56/krupy-bobovye-kashi-khlopya-isg49/krupy-v-varochnykh-paketakh-isg19/' aria-label='Крупы в варочных пакетах')
											span.nav-lvl3-item-name Крупы в варочных пакетах
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/bakaleya-isg56/krupy-bobovye-kashi-khlopya-isg49/prochie-krupy-isg158/' aria-label='Прочие крупы')
											span.nav-lvl3-item-name Прочие крупы
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/bakaleya-isg56/krupy-bobovye-kashi-khlopya-isg49/psheno-krupa-perlovaya-mannaya-isg199/' aria-label='Пшено, крупа перловая, манная')
											span.nav-lvl3-item-name Пшено, крупа перловая, манная
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/bakaleya-isg56/krupy-bobovye-kashi-khlopya-isg49/ris-isg75/' aria-label='Рис')
											span.nav-lvl3-item-name Рис
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/bakaleya-isg56/makarony-produkty-bystrogo-prigotovleniya-isg186/' aria-label='Макароны, продукты быстрого приготовления')
								span.nav-lvl2-item-name Макароны, продукты быстрого приготовления
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/bakaleya-isg56/makarony-produkty-bystrogo-prigotovleniya-isg186/makarony-isg339/' aria-label='Макароны')
											span.nav-lvl3-item-name Макароны
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/bakaleya-isg56/makarony-produkty-bystrogo-prigotovleniya-isg186/produkty-bystrogo-prigotovleniya-isg60/' aria-label='Продукты быстрого приготовления')
											span.nav-lvl3-item-name Продукты быстрого приготовления
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/bakaleya-isg56/muka-produkty-dlya-vypechki-isg209/' aria-label='Мука, продукты для выпечки')
								span.nav-lvl2-item-name Мука, продукты для выпечки
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/bakaleya-isg56/muka-produkty-dlya-vypechki-isg209/korzhi-dlya-vypechki-isg196/' aria-label='Коржи для выпечки')
											span.nav-lvl3-item-name Коржи для выпечки
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/bakaleya-isg56/muka-produkty-dlya-vypechki-isg209/muka-prochaya-isg101/' aria-label='Мука прочая')
											span.nav-lvl3-item-name Мука прочая
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/bakaleya-isg56/muka-produkty-dlya-vypechki-isg209/muka-pshenichnaya-isg320/' aria-label='Мука пшеничная')
											span.nav-lvl3-item-name Мука пшеничная
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/bakaleya-isg56/muka-produkty-dlya-vypechki-isg209/smesi-isg558/' aria-label='Смеси')
											span.nav-lvl3-item-name Смеси
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/bakaleya-isg56/orekhi-semechki-isg53/' aria-label='Орехи, семечки')
								span.nav-lvl2-item-name Орехи, семечки
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/bakaleya-isg56/orekhi-semechki-isg53/orekhi-smesi-s-orekhami-sukhofrukty-tsukaty-isg86/' aria-label='Орехи, смеси с орехами, сухофрукты, цукаты')
											span.nav-lvl3-item-name Орехи, смеси с орехами, сухофрукты, цукаты
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/bakaleya-isg56/orekhi-semechki-isg53/semechki-isg364/' aria-label='Семечки')
											span.nav-lvl3-item-name Семечки
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/bakaleya-isg56/sakhar-zameniteli-isg36/' aria-label='Сахар, заменители')
								span.nav-lvl2-item-name Сахар, заменители
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/bakaleya-isg56/sneki-chipsy-sukhariki-isg369/' aria-label='Снэки, чипсы, сухарики')
								span.nav-lvl2-item-name Снэки, чипсы, сухарики
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/bakaleya-isg56/sneki-chipsy-sukhariki-isg369/sneki-isg354/' aria-label='Снэки')
											span.nav-lvl3-item-name Снэки
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/bakaleya-isg56/sneki-chipsy-sukhariki-isg369/sukhariki-isg119/' aria-label='Сухарики')
											span.nav-lvl3-item-name Сухарики
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/bakaleya-isg56/sneki-chipsy-sukhariki-isg369/chipsy-iz-naturalnogo-kartofelya-isg367/' aria-label='Чипсы из натурального картофеля')
											span.nav-lvl3-item-name Чипсы из натурального картофеля
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/bakaleya-isg56/sneki-chipsy-sukhariki-isg369/chipsy-plastinki-isg370/' aria-label='Чипсы-пластинки')
											span.nav-lvl3-item-name Чипсы-пластинки
			li.nav-item.has-nav
				a.nav-link(href='/catalog/voda-napitki-soki-chay-kofe-isg314/' aria-label='Вода, напитки, соки, чай, кофе')
					span.nav-item-img-wrap
						+icon('i-catalog-3')(style="width: 30px; height: 30px")
					span.nav-item-name Антиквариат и товары для коллекционирования
					span.nav-toggle.js-nav-toggle
					.nav-lvl2-bg
						+icon('i-catalog-3')(style="width: 100%; height: 100%")
				.js-nav.nav-lvl2
					ul.nav-lvl2-list
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/voda-napitki-soki-chay-kofe-isg314/voda-isg211/' aria-label='Вода')
								span.nav-lvl2-item-name &Vcy;&ocy;&dcy;&acy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/voda-napitki-soki-chay-kofe-isg314/kakao-isg146/' aria-label='Какао')
								span.nav-lvl2-item-name &Kcy;&acy;&kcy;&acy;&ocy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/voda-napitki-soki-chay-kofe-isg314/kvas-isg200/' aria-label='Квас')
								span.nav-lvl2-item-name &Kcy;&vcy;&acy;&scy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/voda-napitki-soki-chay-kofe-isg314/kofe-isg85/' aria-label='Кофе')
								span.nav-lvl2-item-name Кофе
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/voda-napitki-soki-chay-kofe-isg314/kofe-isg85/kapsuly-isg20/' aria-label='Капсулы')
											span.nav-lvl3-item-name Капсулы
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/voda-napitki-soki-chay-kofe-isg314/kofe-isg85/kofe-v-zernakh-isg168/' aria-label='Кофе в зернах')
											span.nav-lvl3-item-name Кофе в зернах
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/voda-napitki-soki-chay-kofe-isg314/kofe-isg85/kofe-molotyy-isg332/' aria-label='Кофе молотый')
											span.nav-lvl3-item-name Кофе молотый
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/voda-napitki-soki-chay-kofe-isg314/kofe-isg85/kofe-portsionnyy-3v1-isg128/' aria-label='Кофе порционный, 3в1')
											span.nav-lvl3-item-name Кофе порционный, 3в1
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/voda-napitki-soki-chay-kofe-isg314/kofe-isg85/kofe-rastvorimyy-isg328/' aria-label='Кофе растворимый')
											span.nav-lvl3-item-name Кофе растворимый
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/voda-napitki-soki-chay-kofe-isg314/kofeynye-napitki-tsikoriy-isg31/' aria-label='Кофейные напитки, цикорий')
								span.nav-lvl2-item-name Кофейные напитки, цикорий
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/voda-napitki-soki-chay-kofe-isg314/napitki-isg267/' aria-label='Напитки')
								span.nav-lvl2-item-name Напитки
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/voda-napitki-soki-chay-kofe-isg314/podarochnyy-kofe-chay-isg191/' aria-label='Подарочный кофе, чай')
								span.nav-lvl2-item-name Подарочный кофе, чай
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/voda-napitki-soki-chay-kofe-isg314/siropy-isg105/' aria-label='Сиропы')
								span.nav-lvl2-item-name Сиропы
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/voda-napitki-soki-chay-kofe-isg314/soki-nektary-morsy-isg257/' aria-label='Соки, нектары, морсы')
								span.nav-lvl2-item-name Соки, нектары, морсы
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/voda-napitki-soki-chay-kofe-isg314/kholodnyy-chay-isg557/' aria-label='Холодный чай')
								span.nav-lvl2-item-name Холодный чай
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/voda-napitki-soki-chay-kofe-isg314/chay-isg358/' aria-label='Чай')
								span.nav-lvl2-item-name Чай
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/voda-napitki-soki-chay-kofe-isg314/chay-isg358/chay-listovoy-isg245/' aria-label='Чай листовой')
											span.nav-lvl3-item-name Чай листовой
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/voda-napitki-soki-chay-kofe-isg314/chay-isg358/chay-paketirovannyy--isg5/' aria-label='Чай пакетированный')
											span.nav-lvl3-item-name Чай пакетированный
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/voda-napitki-soki-chay-kofe-isg314/chay-isg358/chay-travyanoy-isg356/' aria-label='Чай травяной')
											span.nav-lvl3-item-name Чай травяной
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/voda-napitki-soki-chay-kofe-isg314/energeticheskie-napitki-isg44/' aria-label='Энергетические напитки')
								span.nav-lvl2-item-name Энергетические напитки
			li.nav-item.has-nav
				a.nav-link(href='/catalog/garderob-isg251/' aria-label='Краски')
					span.nav-item-img-wrap
						+icon('i-catalog-4')(style="width: 30px; height: 30px")
					span.nav-item-name Аптека
					span.nav-toggle.js-nav-toggle
					.nav-lvl2-bg
						+icon('i-catalog-4')(style="width:100%; height: 100%")
				.js-nav.nav-lvl2
					ul.nav-lvl2-list
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/garderob-isg251/nizhnee-bele-isg203/' aria-label='Нижнее белье')
								span.nav-lvl2-item-name &Ncy;&icy;&zhcy;&ncy;&iecy;&iecy; &bcy;&iecy;&lcy;&softcy;&iecy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/garderob-isg251/nizhnee-bele-isg203/trusy-zhenskie-isg333/' aria-label='Трусы женские')
											span.nav-lvl3-item-name &Tcy;&rcy;&ucy;&scy;&ycy; &zhcy;&iecy;&ncy;&scy;&kcy;&icy;&iecy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/garderob-isg251/nizhnee-bele-isg203/trusy-muzhskie-isg123/' aria-label='Трусы мужские')
											span.nav-lvl3-item-name &Tcy;&rcy;&ucy;&scy;&ycy; &mcy;&ucy;&zhcy;&scy;&kcy;&icy;&iecy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/garderob-isg251/noski-i-kolgotki-isg238/' aria-label='Носки и колготки')
								span.nav-lvl2-item-name &Ncy;&ocy;&scy;&kcy;&icy; &icy; &kcy;&ocy;&lcy;&gcy;&ocy;&tcy;&kcy;&icy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/garderob-isg251/noski-i-kolgotki-isg238/kolgotki-zhenskie-isg363/' aria-label='Колготки женские')
											span.nav-lvl3-item-name &Kcy;&ocy;&lcy;&gcy;&ocy;&tcy;&kcy;&icy; &zhcy;&iecy;&ncy;&scy;&kcy;&icy;&iecy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/garderob-isg251/noski-i-kolgotki-isg238/noski-zhenski-isg231/' aria-label='Носки женски')
											span.nav-lvl3-item-name &Ncy;&ocy;&scy;&kcy;&icy; &zhcy;&iecy;&ncy;&scy;&kcy;&icy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/garderob-isg251/noski-i-kolgotki-isg238/noski-muzhskie-isg293/' aria-label='Носки мужские')
											span.nav-lvl3-item-name &Ncy;&ocy;&scy;&kcy;&icy; &mcy;&ucy;&zhcy;&scy;&kcy;&icy;&iecy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/garderob-isg251/obuv-ukhod-za-obuvyu-isg14/' aria-label='Обувь, уход за обувью')
								span.nav-lvl2-item-name &Ocy;&bcy;&ucy;&vcy;&softcy;, &ucy;&khcy;&ocy;&dcy; &zcy;&acy; &ocy;&bcy;&ucy;&vcy;&softcy;&yucy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/garderob-isg251/obuv-ukhod-za-obuvyu-isg14/krema-dlya-obuvi-shchetki-obuvnye-stelki-i-sprei-isg40/' aria-label='Крема для обуви, щетки обувные, стельки и спреи')
											span.nav-lvl3-item-name &Kcy;&rcy;&iecy;&mcy;&acy; &dcy;&lcy;&yacy; &ocy;&bcy;&ucy;&vcy;&icy;, &shchcy;&iecy;&tcy;&kcy;&icy; &ocy;&bcy;&ucy;&vcy;&ncy;&ycy;&iecy;, &scy;&tcy;&iecy;&lcy;&softcy;&kcy;&icy; &icy; &scy;&pcy;&rcy;&iecy;&icy;
			li.nav-item.has-nav
				a.nav-link(href='/catalog/detskie-tovary-igrushki-isg221/' aria-label='Сад')
					span.nav-item-img-wrap
						+icon('i-catalog-5')(style="width: 30px; height: 30px")
					span.nav-item-name Бытовая техника
					span.nav-toggle.js-nav-toggle
					.nav-lvl2-bg
						+icon('i-catalog-5')(style="width: 100%; height: 100%")
				.js-nav.nav-lvl2
					ul.nav-lvl2-list
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/detskie-tovary-igrushki-isg221/aksessuary-dlya-novorozhdennykh-isg58/' aria-label='Аксессуары для новорожденных')
								span.nav-lvl2-item-name &Acy;&kcy;&scy;&iecy;&scy;&scy;&ucy;&acy;&rcy;&ycy; &dcy;&lcy;&yacy; &ncy;&ocy;&vcy;&ocy;&rcy;&ocy;&zhcy;&dcy;&iecy;&ncy;&ncy;&ycy;&khcy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/detskie-tovary-igrushki-isg221/gigiena-i-ukhod-isg298/' aria-label='Гигиена и уход')
								span.nav-lvl2-item-name &Gcy;&icy;&gcy;&icy;&iecy;&ncy;&acy; &icy; &ucy;&khcy;&ocy;&dcy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/detskie-tovary-igrushki-isg221/gigiena-i-ukhod-isg298/vatnaya-produktsiya-i-salfetki-isg233/' aria-label='Ватная продукция и салфетки')
											span.nav-lvl3-item-name &Vcy;&acy;&tcy;&ncy;&acy;&yacy; &pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tscy;&icy;&yacy; &icy; &scy;&acy;&lcy;&fcy;&iecy;&tcy;&kcy;&icy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/detskie-tovary-igrushki-isg221/gigiena-i-ukhod-isg298/kosmetika-detskaya-isg300/' aria-label='Косметика детская')
											span.nav-lvl3-item-name &Kcy;&ocy;&scy;&mcy;&iecy;&tcy;&icy;&kcy;&acy; &dcy;&iecy;&tcy;&scy;&kcy;&acy;&yacy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/detskie-tovary-igrushki-isg221/detskoe-pitanie-isg349/' aria-label='Детское питание')
								span.nav-lvl2-item-name &Dcy;&iecy;&tcy;&scy;&kcy;&ocy;&iecy; &pcy;&icy;&tcy;&acy;&ncy;&icy;&iecy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/detskie-tovary-igrushki-isg221/detskoe-pitanie-isg349/voda-isg215/' aria-label='Вода')
											span.nav-lvl3-item-name &Vcy;&ocy;&dcy;&acy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/detskie-tovary-igrushki-isg221/detskoe-pitanie-isg349/kashi-isg279/' aria-label='Каши')
											span.nav-lvl3-item-name &Kcy;&acy;&shcy;&icy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/detskie-tovary-igrushki-isg221/detskoe-pitanie-isg349/molochnoe-detskoe-pitanie-isg195/' aria-label='Молочное детское питание')
											span.nav-lvl3-item-name &Mcy;&ocy;&lcy;&ocy;&chcy;&ncy;&ocy;&iecy; &dcy;&iecy;&tcy;&scy;&kcy;&ocy;&iecy; &pcy;&icy;&tcy;&acy;&ncy;&icy;&iecy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/detskie-tovary-igrushki-isg221/detskoe-pitanie-isg349/pechene-isg213/' aria-label='Печенье')
											span.nav-lvl3-item-name &Pcy;&iecy;&chcy;&iecy;&ncy;&softcy;&iecy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/detskie-tovary-igrushki-isg221/detskoe-pitanie-isg349/pyure-isg115/' aria-label='Пюре')
											span.nav-lvl3-item-name &Pcy;&yucy;&rcy;&iecy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/detskie-tovary-igrushki-isg221/detskoe-pitanie-isg349/smesi-isg190/' aria-label='Смеси')
											span.nav-lvl3-item-name &Scy;&mcy;&iecy;&scy;&icy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/detskie-tovary-igrushki-isg221/detskoe-pitanie-isg349/soki-isg272/' aria-label='Соки')
											span.nav-lvl3-item-name &Scy;&ocy;&kcy;&icy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/detskie-tovary-igrushki-isg221/detskoe-pitanie-isg349/chay-isg23/' aria-label='Чай')
											span.nav-lvl3-item-name &CHcy;&acy;&jcy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/detskie-tovary-igrushki-isg221/igrushki-isg285/' aria-label='Игрушки')
								span.nav-lvl2-item-name &Icy;&gcy;&rcy;&ucy;&shcy;&kcy;&icy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/detskie-tovary-igrushki-isg221/igrushki-isg285/detskie-igrushki-isg172/' aria-label='Детские игрушки')
											span.nav-lvl3-item-name &Dcy;&iecy;&tcy;&scy;&kcy;&icy;&iecy; &icy;&gcy;&rcy;&ucy;&shcy;&kcy;&icy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/detskie-tovary-igrushki-isg221/podguzniki-pelenki--isg112/' aria-label='Подгузники, пеленки ')
								span.nav-lvl2-item-name &Pcy;&ocy;&dcy;&gcy;&ucy;&zcy;&ncy;&icy;&kcy;&icy;, &pcy;&iecy;&lcy;&iecy;&ncy;&kcy;&icy; 
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/detskie-tovary-igrushki-isg221/stiralnye-moyushchie-sredstva-isg175/' aria-label='Стиральные, моющие средства')
								span.nav-lvl2-item-name &Scy;&tcy;&icy;&rcy;&acy;&lcy;&softcy;&ncy;&ycy;&iecy;, &mcy;&ocy;&yucy;&shchcy;&icy;&iecy; &scy;&rcy;&iecy;&dcy;&scy;&tcy;&vcy;&acy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/detskie-tovary-igrushki-isg221/tovary-dlya-mam-isg41/' aria-label='Товары для мам')
								span.nav-lvl2-item-name &Tcy;&ocy;&vcy;&acy;&rcy;&ycy; &dcy;&lcy;&yacy; &mcy;&acy;&mcy;
			li.nav-item.has-nav
				a.nav-link(href='/catalog/zamorozhennye-produkty-morozhenoe-isg352/' aria-label='Товары для детей')
					span.nav-item-img-wrap
						+icon('i-catalog-6')(style="width: 30px; height: 30px")
					span.nav-item-name Бытовая химия и гигиена
					span.nav-toggle.js-nav-toggle
					.nav-lvl2-bg
						+icon('i-catalog-6')(style="width: 100%; height: 100%")
				.js-nav.nav-lvl2
					ul.nav-lvl2-list
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/zamorozhennye-produkty-morozhenoe-isg352/vareniki-blinchiki-isg118/' aria-label='Вареники, блинчики')
								span.nav-lvl2-item-name Вареники, блинчики
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/zamorozhennye-produkty-morozhenoe-isg352/vareniki-blinchiki-isg118/vareniki-blinchiki-isg80/' aria-label='Вареники, блинчики')
											span.nav-lvl3-item-name Вареники, блинчики
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/zamorozhennye-produkty-morozhenoe-isg352/kletski-tseppeliny-draniki-isg127/' aria-label='Клецки, цеппелины, драники')
								span.nav-lvl2-item-name Клецки, цеппелины, драники
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/zamorozhennye-produkty-morozhenoe-isg352/kletski-tseppeliny-draniki-isg127/kletski-tseppeliny-draniki-isg294/' aria-label='Клецки, цеппелины, драники')
											span.nav-lvl3-item-name Клецки, цеппелины, драники
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/zamorozhennye-produkty-morozhenoe-isg352/led-pishchevoy-isg173/' aria-label='Лед пищевой')
								span.nav-lvl2-item-name Лед пищевой
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/zamorozhennye-produkty-morozhenoe-isg352/morozhenoe-isg350/' aria-label='Мороженое')
								span.nav-lvl2-item-name Мороженое
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/zamorozhennye-produkty-morozhenoe-isg352/pelmeni-manty-khinkali-chebureki-isg114/' aria-label='Пельмени, манты, хинкали, чебуреки')
								span.nav-lvl2-item-name Пельмени, манты, хинкали, чебуреки
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/zamorozhennye-produkty-morozhenoe-isg352/pelmeni-manty-khinkali-chebureki-isg114/pelmeni-manty-khinkali-chebureki-isg91/' aria-label='Пельмени, манты, хинкали, чебуреки')
											span.nav-lvl3-item-name Пельмени, манты, хинкали, чебуреки
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/zamorozhennye-produkty-morozhenoe-isg352/testo-pitstsa-osnova-dlya-pitstsy-isg260/' aria-label='Тесто, пицца, основа для пиццы')
								span.nav-lvl2-item-name Тесто, пицца, основа для пиццы
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/zamorozhennye-produkty-morozhenoe-isg352/testo-pitstsa-osnova-dlya-pitstsy-isg260/testo-pitstsa-osnova-dlya-pitstsy-isg76/' aria-label='Тесто, пицца, основа для пиццы')
											span.nav-lvl3-item-name Тесто, пицца, основа для пиццы
			li.nav-item.has-nav
				a.nav-link(href='/catalog/zdorovoe-sportivnoe-pitanie-isg303/' aria-label='Электротовары')
					span.nav-item-img-wrap
						+icon('i-catalog-7')(style="width: 30px; height: 30px")
					span.nav-item-name Детские товары
					span.nav-toggle.js-nav-toggle
					.nav-lvl2-bg
						+icon('i-catalog-7')(style="width: 100%; height: 100%")
				.js-nav.nav-lvl2
					ul.nav-lvl2-list
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/zdorovoe-sportivnoe-pitanie-isg303/batonchiki-isg271/' aria-label='Батончики')
								span.nav-lvl2-item-name &Bcy;&acy;&tcy;&ocy;&ncy;&chcy;&icy;&kcy;&icy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/zdorovoe-sportivnoe-pitanie-isg303/vegetarianskaya-produktsiya-isg188/' aria-label='Вегетарианская продукция')
								span.nav-lvl2-item-name &Vcy;&iecy;&gcy;&iecy;&tcy;&acy;&rcy;&icy;&acy;&ncy;&scy;&kcy;&acy;&yacy; &pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tscy;&icy;&yacy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/zdorovoe-sportivnoe-pitanie-isg303/vegetarianskaya-produktsiya-isg188/napitki-isg555/' aria-label='Напитки')
											span.nav-lvl3-item-name &Ncy;&acy;&pcy;&icy;&tcy;&kcy;&icy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/zdorovoe-sportivnoe-pitanie-isg303/vegetarianskaya-produktsiya-isg188/pashtety-isg270/' aria-label='Паштеты')
											span.nav-lvl3-item-name &Pcy;&acy;&shcy;&tcy;&iecy;&tcy;&ycy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/zdorovoe-sportivnoe-pitanie-isg303/otrubi-kletchatka-proroshchennye-zerna-prochee-isg149/' aria-label='Отруби, клетчатка, пророщенные зерна, прочее')
								span.nav-lvl2-item-name &Ocy;&tcy;&rcy;&ucy;&bcy;&icy;, &kcy;&lcy;&iecy;&tcy;&chcy;&acy;&tcy;&kcy;&acy;, &pcy;&rcy;&ocy;&rcy;&ocy;&shchcy;&iecy;&ncy;&ncy;&ycy;&iecy; &zcy;&iecy;&rcy;&ncy;&acy;, &pcy;&rcy;&ocy;&chcy;&iecy;&iecy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/zdorovoe-sportivnoe-pitanie-isg303/produkty-bez-glyutena-isg4/' aria-label='Продукты без глютена')
								span.nav-lvl2-item-name &Pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tcy;&ycy; &bcy;&iecy;&zcy; &gcy;&lcy;&yucy;&tcy;&iecy;&ncy;&acy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/zdorovoe-sportivnoe-pitanie-isg303/soevye-produkty-isg241/' aria-label='Соевые продукты')
								span.nav-lvl2-item-name &Scy;&ocy;&iecy;&vcy;&ycy;&iecy; &pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tcy;&ycy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/zdorovoe-sportivnoe-pitanie-isg303/sportivnoe-pitanie-isg125/' aria-label='Спортивное питание')
								span.nav-lvl2-item-name &Scy;&pcy;&ocy;&rcy;&tcy;&icy;&vcy;&ncy;&ocy;&iecy; &pcy;&icy;&tcy;&acy;&ncy;&icy;&iecy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/zdorovoe-sportivnoe-pitanie-isg303/khlebtsy-isg177/' aria-label='Хлебцы')
								span.nav-lvl2-item-name &KHcy;&lcy;&iecy;&bcy;&tscy;&ycy;
			li.nav-item.has-nav
				a.nav-link(href='/catalog/konditerskie-khlebobulochnye-izdeliya-isg174/' aria-label='Инструменты')
					span.nav-item-img-wrap
						+icon('i-catalog-8')(style="width: 30px; height: 30px")
					span.nav-item-name Дом и сад
					span.nav-toggle.js-nav-toggle
					.nav-lvl2-bg
						+icon('i-catalog-8')(style="width: 100%; height: 100%")
				.js-nav.nav-lvl2
					ul.nav-lvl2-list
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/konditerskie-khlebobulochnye-izdeliya-isg174/konditerskie-izdeliya-gippo-isg208/' aria-label='Кондитерские изделия гиппо')
								span.nav-lvl2-item-name &Kcy;&ocy;&ncy;&dcy;&icy;&tcy;&iecy;&rcy;&scy;&kcy;&icy;&iecy; &icy;&zcy;&dcy;&iecy;&lcy;&icy;&yacy; &gcy;&icy;&pcy;&pcy;&ocy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/konditerskie-khlebobulochnye-izdeliya-isg174/konditerskie-izdeliya-gippo-isg208/deserty-isg139/' aria-label='Десерты')
											span.nav-lvl3-item-name &Dcy;&iecy;&scy;&iecy;&rcy;&tcy;&ycy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/konditerskie-khlebobulochnye-izdeliya-isg174/konditerskie-izdeliya-gippo-isg208/pirozhnye-isg296/' aria-label='Пирожные')
											span.nav-lvl3-item-name &Pcy;&icy;&rcy;&ocy;&zhcy;&ncy;&ycy;&iecy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/konditerskie-khlebobulochnye-izdeliya-isg174/konditerskie-izdeliya-gippo-isg208/sladosti-muchnye-pechene-isg210/' aria-label='Сладостьи мучные, печенье')
											span.nav-lvl3-item-name &Scy;&lcy;&acy;&dcy;&ocy;&scy;&tcy;&softcy;&icy; &mcy;&ucy;&chcy;&ncy;&ycy;&iecy;, &pcy;&iecy;&chcy;&iecy;&ncy;&softcy;&iecy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/konditerskie-khlebobulochnye-izdeliya-isg174/konditerskie-izdeliya-gippo-isg208/torty-isg304/' aria-label='Торты')
											span.nav-lvl3-item-name &Tcy;&ocy;&rcy;&tcy;&ycy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/konditerskie-khlebobulochnye-izdeliya-isg174/pekarnya-gippo-isg153/' aria-label='Пекарня гиппо')
								span.nav-lvl2-item-name &Pcy;&iecy;&kcy;&acy;&rcy;&ncy;&yacy; &gcy;&icy;&pcy;&pcy;&ocy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/konditerskie-khlebobulochnye-izdeliya-isg174/pekarnya-gippo-isg153/baton-baget-khleb-isg147/' aria-label='Батон, багет, хлеб')
											span.nav-lvl3-item-name &Bcy;&acy;&tcy;&ocy;&ncy;, &bcy;&acy;&gcy;&iecy;&tcy;, &khcy;&lcy;&iecy;&bcy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/konditerskie-khlebobulochnye-izdeliya-isg174/pekarnya-gippo-isg153/lepeshki-chiabatta-isg240/' aria-label='Лепешки, чиабатта')
											span.nav-lvl3-item-name &Lcy;&iecy;&pcy;&iecy;&shcy;&kcy;&icy;, &chcy;&icy;&acy;&bcy;&acy;&tcy;&tcy;&acy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/konditerskie-khlebobulochnye-izdeliya-isg174/pekarnya-gippo-isg153/mekloshtuchnye-izdeliya-isg6/' aria-label='Меклоштучные изделия')
											span.nav-lvl3-item-name &Mcy;&iecy;&kcy;&lcy;&ocy;&shcy;&tcy;&ucy;&chcy;&ncy;&ycy;&iecy; &icy;&zcy;&dcy;&iecy;&lcy;&icy;&yacy;
			li.nav-item.has-nav
				a.nav-link(href='/catalog/kosmetika-lichnaya-gigiena-isg214/' aria-label='Сантехника, отпление и водоснабжение')
					span.nav-item-img-wrap
						+icon('i-catalog-9')(style="width: 30px; height: 30px")
					span.nav-item-name Игры и консоли
					span.nav-toggle.js-nav-toggle
					.nav-lvl2-bg
						+icon('i-catalog-9')(style="width: 100%; height: 100%")
				.js-nav.nav-lvl2
					ul.nav-lvl2-list
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/kosmetika-lichnaya-gigiena-isg214/brite-i-depilyatsiya-isg227/' aria-label='Бритье и депиляция')
								span.nav-lvl2-item-name &Bcy;&rcy;&icy;&tcy;&softcy;&iecy; &icy; &dcy;&iecy;&pcy;&icy;&lcy;&yacy;&tscy;&icy;&yacy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/kosmetika-lichnaya-gigiena-isg214/brite-i-depilyatsiya-isg227/brite-dlya-muzhchin-isg97/' aria-label='Бритье для мужчин')
											span.nav-lvl3-item-name &Bcy;&rcy;&icy;&tcy;&softcy;&iecy; &dcy;&lcy;&yacy; &mcy;&ucy;&zhcy;&chcy;&icy;&ncy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/kosmetika-lichnaya-gigiena-isg214/brite-i-depilyatsiya-isg227/depilyatsiya-isg29/' aria-label='Депиляция')
											span.nav-lvl3-item-name &Dcy;&iecy;&pcy;&icy;&lcy;&yacy;&tscy;&icy;&yacy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/kosmetika-lichnaya-gigiena-isg214/vatnaya-produktsiya-i-salfetki-kosmeticheskie-isg229/' aria-label='Ватная продукция и салфетки косметические')
								span.nav-lvl2-item-name &Vcy;&acy;&tcy;&ncy;&acy;&yacy; &pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tscy;&icy;&yacy; &icy; &scy;&acy;&lcy;&fcy;&iecy;&tcy;&kcy;&icy; &kcy;&ocy;&scy;&mcy;&iecy;&tcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&iecy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/kosmetika-lichnaya-gigiena-isg214/gigiena-polosti-rta-isg295/' aria-label='Гигиена полости рта')
								span.nav-lvl2-item-name &Gcy;&icy;&gcy;&icy;&iecy;&ncy;&acy; &pcy;&ocy;&lcy;&ocy;&scy;&tcy;&icy; &rcy;&tcy;&acy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/kosmetika-lichnaya-gigiena-isg214/gigiena-polosti-rta-isg295/gigiena-polosti-rta-isg247/' aria-label='Гигиена полости рта')
											span.nav-lvl3-item-name &Gcy;&icy;&gcy;&icy;&iecy;&ncy;&acy; &pcy;&ocy;&lcy;&ocy;&scy;&tcy;&icy; &rcy;&tcy;&acy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/kosmetika-lichnaya-gigiena-isg214/dekorativnaya-kosmetika-isg223/' aria-label='Декоративная косметика')
								span.nav-lvl2-item-name &Dcy;&iecy;&kcy;&ocy;&rcy;&acy;&tcy;&icy;&vcy;&ncy;&acy;&yacy; &kcy;&ocy;&scy;&mcy;&iecy;&tcy;&icy;&kcy;&acy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/kosmetika-lichnaya-gigiena-isg214/dekorativnaya-kosmetika-isg223/aksessuary-isg62/' aria-label='Аксессуары')
											span.nav-lvl3-item-name &Acy;&kcy;&scy;&iecy;&scy;&scy;&ucy;&acy;&rcy;&ycy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/kosmetika-lichnaya-gigiena-isg214/dekorativnaya-kosmetika-isg223/dlya-glaz-i-brovey-isg290/' aria-label='Для глаз и бровей')
											span.nav-lvl3-item-name &Dcy;&lcy;&yacy; &gcy;&lcy;&acy;&zcy; &icy; &bcy;&rcy;&ocy;&vcy;&iecy;&jcy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/kosmetika-lichnaya-gigiena-isg214/dekorativnaya-kosmetika-isg223/dlya-gub-isg169/' aria-label='Для губ')
											span.nav-lvl3-item-name &Dcy;&lcy;&yacy; &gcy;&ucy;&bcy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/kosmetika-lichnaya-gigiena-isg214/zhenskie-gigienicheskie-sredstva-isg89/' aria-label='Женские гигиенические средства')
								span.nav-lvl2-item-name &ZHcy;&iecy;&ncy;&scy;&kcy;&icy;&iecy; &gcy;&icy;&gcy;&icy;&iecy;&ncy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&iecy; &scy;&rcy;&iecy;&dcy;&scy;&tcy;&vcy;&acy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/kosmetika-lichnaya-gigiena-isg214/podguzniki-pelenki-dlya-vzroslykh-isg8/' aria-label='Подгузники, пеленки для взрослых')
								span.nav-lvl2-item-name &Pcy;&ocy;&dcy;&gcy;&ucy;&zcy;&ncy;&icy;&kcy;&icy;, &pcy;&iecy;&lcy;&iecy;&ncy;&kcy;&icy; &dcy;&lcy;&yacy; &vcy;&zcy;&rcy;&ocy;&scy;&lcy;&ycy;&khcy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/kosmetika-lichnaya-gigiena-isg214/tovary-meditsinskogo-naznacheniya-isg87/' aria-label='Товары медицинского назначения')
								span.nav-lvl2-item-name &Tcy;&ocy;&vcy;&acy;&rcy;&ycy; &mcy;&iecy;&dcy;&icy;&tscy;&icy;&ncy;&scy;&kcy;&ocy;&gcy;&ocy; &ncy;&acy;&zcy;&ncy;&acy;&chcy;&iecy;&ncy;&icy;&yacy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/kosmetika-lichnaya-gigiena-isg214/tovary-meditsinskogo-naznacheniya-isg87/tovary-meditsinskogo-naznacheniya-isg156/' aria-label='Товары медицинского назначения')
											span.nav-lvl3-item-name &Tcy;&ocy;&vcy;&acy;&rcy;&ycy; &mcy;&iecy;&dcy;&icy;&tscy;&icy;&ncy;&scy;&kcy;&ocy;&gcy;&ocy; &ncy;&acy;&zcy;&ncy;&acy;&chcy;&iecy;&ncy;&icy;&yacy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/kosmetika-lichnaya-gigiena-isg214/ukhod-za-volosami-isg110/' aria-label='Уход за волосами')
								span.nav-lvl2-item-name &Ucy;&khcy;&ocy;&dcy; &zcy;&acy; &vcy;&ocy;&lcy;&ocy;&scy;&acy;&mcy;&icy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/kosmetika-lichnaya-gigiena-isg214/ukhod-za-volosami-isg110/balzamy-konditsionery-maski-isg133/' aria-label='Бальзамы, кондиционеры, маски')
											span.nav-lvl3-item-name &Bcy;&acy;&lcy;&softcy;&zcy;&acy;&mcy;&ycy;, &kcy;&ocy;&ncy;&dcy;&icy;&tscy;&icy;&ocy;&ncy;&iecy;&rcy;&ycy;, &mcy;&acy;&scy;&kcy;&icy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/kosmetika-lichnaya-gigiena-isg214/ukhod-za-volosami-isg110/sredstva-dlya-ukladki-isg78/' aria-label='Средства для укладки')
											span.nav-lvl3-item-name &Scy;&rcy;&iecy;&dcy;&scy;&tcy;&vcy;&acy; &dcy;&lcy;&yacy; &ucy;&kcy;&lcy;&acy;&dcy;&kcy;&icy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/kosmetika-lichnaya-gigiena-isg214/ukhod-za-volosami-isg110/shampuni-isg347/' aria-label='Шампуни')
											span.nav-lvl3-item-name &SHcy;&acy;&mcy;&pcy;&ucy;&ncy;&icy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/kosmetika-lichnaya-gigiena-isg214/ukhod-za-litsom-isg307/' aria-label='Уход за лицом')
								span.nav-lvl2-item-name &Ucy;&khcy;&ocy;&dcy; &zcy;&acy; &lcy;&icy;&tscy;&ocy;&mcy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/kosmetika-lichnaya-gigiena-isg214/ukhod-za-litsom-isg307/kremy-dlya-litsa-dlya-kozhi-vokrug-glaz-isg235/' aria-label='Кремы для лица, для кожи вокруг глаз')
											span.nav-lvl3-item-name &Kcy;&rcy;&iecy;&mcy;&ycy; &dcy;&lcy;&yacy; &lcy;&icy;&tscy;&acy;, &dcy;&lcy;&yacy; &kcy;&ocy;&zhcy;&icy; &vcy;&ocy;&kcy;&rcy;&ucy;&gcy; &gcy;&lcy;&acy;&zcy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/kosmetika-lichnaya-gigiena-isg214/ukhod-za-litsom-isg307/lechebnaya-kosmetika-isg301/' aria-label='Лечебная косметика')
											span.nav-lvl3-item-name &Lcy;&iecy;&chcy;&iecy;&bcy;&ncy;&acy;&yacy; &kcy;&ocy;&scy;&mcy;&iecy;&tcy;&icy;&kcy;&acy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/kosmetika-lichnaya-gigiena-isg214/ukhod-za-litsom-isg307/maski-dlya-litsa-patchi-isg48/' aria-label='Маски для лица, патчи')
											span.nav-lvl3-item-name &Mcy;&acy;&scy;&kcy;&icy; &dcy;&lcy;&yacy; &lcy;&icy;&tscy;&acy;, &pcy;&acy;&tcy;&chcy;&icy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/kosmetika-lichnaya-gigiena-isg214/ukhod-za-litsom-isg307/sredstva-dlya-umyvaniya-i-snyatiya-makiyazha-isg254/' aria-label='Средства для умывания и снятия макияжа')
											span.nav-lvl3-item-name &Scy;&rcy;&iecy;&dcy;&scy;&tcy;&vcy;&acy; &dcy;&lcy;&yacy; &ucy;&mcy;&ycy;&vcy;&acy;&ncy;&icy;&yacy; &icy; &scy;&ncy;&yacy;&tcy;&icy;&yacy; &mcy;&acy;&kcy;&icy;&yacy;&zhcy;&acy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/kosmetika-lichnaya-gigiena-isg214/ukhod-za-telom-isg346/' aria-label='Уход за телом')
								span.nav-lvl2-item-name &Ucy;&khcy;&ocy;&dcy; &zcy;&acy; &tcy;&iecy;&lcy;&ocy;&mcy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/kosmetika-lichnaya-gigiena-isg214/ukhod-za-telom-isg346/geli-dlya-dusha-isg176/' aria-label='Гели для душа')
											span.nav-lvl3-item-name &Gcy;&iecy;&lcy;&icy; &dcy;&lcy;&yacy; &dcy;&ucy;&shcy;&acy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/kosmetika-lichnaya-gigiena-isg214/ukhod-za-telom-isg346/dezodoranty-antipersperanty-isg52/' aria-label='Дезодоранты, антиперсперанты')
											span.nav-lvl3-item-name &Dcy;&iecy;&zcy;&ocy;&dcy;&ocy;&rcy;&acy;&ncy;&tcy;&ycy;, &acy;&ncy;&tcy;&icy;&pcy;&iecy;&rcy;&scy;&pcy;&iecy;&rcy;&acy;&ncy;&tcy;&ycy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/kosmetika-lichnaya-gigiena-isg214/ukhod-za-telom-isg346/krema-dlya-ruk-i-nog-isg337/' aria-label='Крема для рук и ног')
											span.nav-lvl3-item-name &Kcy;&rcy;&iecy;&mcy;&acy; &dcy;&lcy;&yacy; &rcy;&ucy;&kcy; &icy; &ncy;&ocy;&gcy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/kosmetika-lichnaya-gigiena-isg214/ukhod-za-telom-isg346/kremy-masla-losony-isg131/' aria-label='Кремы, масла, лосьоны')
											span.nav-lvl3-item-name &Kcy;&rcy;&iecy;&mcy;&ycy;, &mcy;&acy;&scy;&lcy;&acy;, &lcy;&ocy;&scy;&softcy;&ocy;&ncy;&ycy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/kosmetika-lichnaya-gigiena-isg214/ukhod-za-telom-isg346/mylo-antibakterialnye-sredstva-isg368/' aria-label='Мыло, антибактериальные средства')
											span.nav-lvl3-item-name &Mcy;&ycy;&lcy;&ocy;, &acy;&ncy;&tcy;&icy;&bcy;&acy;&kcy;&tcy;&iecy;&rcy;&icy;&acy;&lcy;&softcy;&ncy;&ycy;&iecy; &scy;&rcy;&iecy;&dcy;&scy;&tcy;&vcy;&acy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/kosmetika-lichnaya-gigiena-isg214/ukhod-za-telom-isg346/predmety-lichnoy-gigieny-isg164/' aria-label='Предметы личной гигиены')
											span.nav-lvl3-item-name &Pcy;&rcy;&iecy;&dcy;&mcy;&iecy;&tcy;&ycy; &lcy;&icy;&chcy;&ncy;&ocy;&jcy; &gcy;&icy;&gcy;&icy;&iecy;&ncy;&ycy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/kosmetika-lichnaya-gigiena-isg214/ukhod-za-telom-isg346/skraby-pilingi-isg61/' aria-label='Скрабы, пилинги')
											span.nav-lvl3-item-name &Scy;&kcy;&rcy;&acy;&bcy;&ycy;, &pcy;&icy;&lcy;&icy;&ncy;&gcy;&icy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/kosmetika-lichnaya-gigiena-isg214/ukhod-za-telom-isg346/soli-i-penny-dlya-vann-isg152/' aria-label='Соли и пенны для ванн')
											span.nav-lvl3-item-name &Scy;&ocy;&lcy;&icy; &icy; &pcy;&iecy;&ncy;&ncy;&ycy; &dcy;&lcy;&yacy; &vcy;&acy;&ncy;&ncy;
			li.nav-item.has-nav
				a.nav-link(href='/catalog/kulinarnaya-produktsiya-isg359/' aria-label='Крепеж')
					span.nav-item-img-wrap
						+icon('i-catalog-10')(style="width: 30px; height: 30px")

					span.nav-item-name Канцелярские товары
					span.nav-toggle.js-nav-toggle
					.nav-lvl2-bg
						+icon('i-catalog-10')(style="width: 100%; height: 100%")
				.js-nav.nav-lvl2
					ul.nav-lvl2-list
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/kulinarnaya-produktsiya-isg359/goryachie-blyuda-isg37/' aria-label='Горячие блюда')
								span.nav-lvl2-item-name &Gcy;&ocy;&rcy;&yacy;&chcy;&icy;&iecy; &bcy;&lcy;&yucy;&dcy;&acy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/kulinarnaya-produktsiya-isg359/goryachie-blyuda-isg37/blyuda-iz-myasa-ptitsy-ryby-i-ovoshchey-isg228/' aria-label='Блюда из мяса,птицы рыбы и овощей')
											span.nav-lvl3-item-name &Bcy;&lcy;&yucy;&dcy;&acy; &icy;&zcy; &mcy;&yacy;&scy;&acy;,&pcy;&tcy;&icy;&tscy;&ycy; &rcy;&ycy;&bcy;&ycy; &icy; &ocy;&vcy;&ocy;&shchcy;&iecy;&jcy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/kulinarnaya-produktsiya-isg359/goryachie-blyuda-isg37/vypechka-isg11/' aria-label='Выпечка')
											span.nav-lvl3-item-name &Vcy;&ycy;&pcy;&iecy;&chcy;&kcy;&acy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/kulinarnaya-produktsiya-isg359/goryachie-blyuda-isg37/garniry-isg237/' aria-label='Гарниры')
											span.nav-lvl3-item-name &Gcy;&acy;&rcy;&ncy;&icy;&rcy;&ycy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/kulinarnaya-produktsiya-isg359/syrovyalennye-solenye-izdeliya-iz-svininy-isg83/' aria-label='Сыровяленные, соленые изделия из свинины')
								span.nav-lvl2-item-name &Scy;&ycy;&rcy;&ocy;&vcy;&yacy;&lcy;&iecy;&ncy;&ncy;&ycy;&iecy;, &scy;&ocy;&lcy;&iecy;&ncy;&ycy;&iecy; &icy;&zcy;&dcy;&iecy;&lcy;&icy;&yacy; &icy;&zcy; &scy;&vcy;&icy;&ncy;&icy;&ncy;&ycy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/kulinarnaya-produktsiya-isg359/syrovyalennye-solenye-izdeliya-iz-svininy-isg83/produkty-iz-shpika-i-grudinki-isg292/' aria-label='Продукты из шпика и грудинки')
											span.nav-lvl3-item-name &Pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tcy;&ycy; &icy;&zcy; &shcy;&pcy;&icy;&kcy;&acy; &icy; &gcy;&rcy;&ucy;&dcy;&icy;&ncy;&kcy;&icy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/kulinarnaya-produktsiya-isg359/syrovyalennye-solenye-izdeliya-iz-svininy-isg83/solenye-izdeliya-iz-myasa-isg71/' aria-label='Соленые изделия из мяса')
											span.nav-lvl3-item-name &Scy;&ocy;&lcy;&iecy;&ncy;&ycy;&iecy; &icy;&zcy;&dcy;&iecy;&lcy;&icy;&yacy; &icy;&zcy; &mcy;&yacy;&scy;&acy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/kulinarnaya-produktsiya-isg359/kholodnye-blyuda-i-zakuski-isg316/' aria-label='Холодные блюда и закуски')
								span.nav-lvl2-item-name &KHcy;&ocy;&lcy;&ocy;&dcy;&ncy;&ycy;&iecy; &bcy;&lcy;&yucy;&dcy;&acy; &icy; &zcy;&acy;&kcy;&ucy;&scy;&kcy;&icy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/kulinarnaya-produktsiya-isg359/kholodnye-blyuda-i-zakuski-isg316/zalivnye-isg66/' aria-label='Заливные')
											span.nav-lvl3-item-name &Zcy;&acy;&lcy;&icy;&vcy;&ncy;&ycy;&iecy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/kulinarnaya-produktsiya-isg359/kholodnye-blyuda-i-zakuski-isg316/rolly-isg10/' aria-label='Роллы')
											span.nav-lvl3-item-name &Rcy;&ocy;&lcy;&lcy;&ycy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/kulinarnaya-produktsiya-isg359/kholodnye-blyuda-i-zakuski-isg316/rulyady-rulety-isg12/' aria-label='Руляды/рулеты')
											span.nav-lvl3-item-name &Rcy;&ucy;&lcy;&yacy;&dcy;&ycy;/&rcy;&ucy;&lcy;&iecy;&tcy;&ycy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/kulinarnaya-produktsiya-isg359/kholodnye-blyuda-i-zakuski-isg316/salaty-vinegrety-isg35/' aria-label='Салаты/винегреты')
											span.nav-lvl3-item-name &Scy;&acy;&lcy;&acy;&tcy;&ycy;/&vcy;&icy;&ncy;&iecy;&gcy;&rcy;&iecy;&tcy;&ycy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/kulinarnaya-produktsiya-isg359/kholodnye-blyuda-i-zakuski-isg316/sendvichi-burgery-isg244/' aria-label='Сэндвичи/бургеры')
											span.nav-lvl3-item-name &Scy;&ecy;&ncy;&dcy;&vcy;&icy;&chcy;&icy;/&bcy;&ucy;&rcy;&gcy;&iecy;&rcy;&ycy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/kulinarnaya-produktsiya-isg359/kholodnye-blyuda-i-zakuski-isg316/farshirovka-isg319/' aria-label='Фаршировка')
											span.nav-lvl3-item-name &Fcy;&acy;&rcy;&shcy;&icy;&rcy;&ocy;&vcy;&kcy;&acy;
			li.nav-item.has-nav
				a.nav-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/' aria-label='Бытовая химия')
					span.nav-item-img-wrap
						+icon('i-catalog-26')(style="width: 30px; height: 30px")
					span.nav-item-name Книги
					span.nav-toggle.js-nav-toggle
					.nav-lvl2-bg
						+icon('i-catalog-10')(style="width: 100%; height: 100%")
				.js-nav.nav-lvl2
					ul.nav-lvl2-list
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/kolbasy-varenye-isg313/' aria-label='Колбасы вареные')
								span.nav-lvl2-item-name &Kcy;&ocy;&lcy;&bcy;&acy;&scy;&ycy; &vcy;&acy;&rcy;&iecy;&ncy;&ycy;&iecy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/kolbasy-varenye-isg313/kolbasy-varenye-isg315/' aria-label='Колбасы вареные')
											span.nav-lvl3-item-name &Kcy;&ocy;&lcy;&bcy;&acy;&scy;&ycy; &vcy;&acy;&rcy;&iecy;&ncy;&ycy;&iecy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/kolbasy-kopchenye-isg239/' aria-label='Колбасы копченые')
								span.nav-lvl2-item-name &Kcy;&ocy;&lcy;&bcy;&acy;&scy;&ycy; &kcy;&ocy;&pcy;&chcy;&iecy;&ncy;&ycy;&iecy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/kolbasy-kopchenye-isg239/vareno-kopchenye-kolbasy-isg250/' aria-label='Варено-копченые колбасы')
											span.nav-lvl3-item-name &Vcy;&acy;&rcy;&iecy;&ncy;&ocy;-&kcy;&ocy;&pcy;&chcy;&iecy;&ncy;&ycy;&iecy; &kcy;&ocy;&lcy;&bcy;&acy;&scy;&ycy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/kolbasy-kopchenye-isg239/polukopchenye-kolbasy-isg34/' aria-label='Полукопченые колбасы')
											span.nav-lvl3-item-name &Pcy;&ocy;&lcy;&ucy;&kcy;&ocy;&pcy;&chcy;&iecy;&ncy;&ycy;&iecy; &kcy;&ocy;&lcy;&bcy;&acy;&scy;&ycy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/kolbasy-kopchenye-isg239/produkty-dlya-detskogo-pitaniya-isg74/' aria-label='Продукты для детского питания')
											span.nav-lvl3-item-name &Pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tcy;&ycy; &dcy;&lcy;&yacy; &dcy;&iecy;&tcy;&scy;&kcy;&ocy;&gcy;&ocy; &pcy;&icy;&tcy;&acy;&ncy;&icy;&yacy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/kolbasy-kopchenye-isg239/syrovyalenye-kolbasy-isg220/' aria-label='Сыровяленые колбасы')
											span.nav-lvl3-item-name &Scy;&ycy;&rcy;&ocy;&vcy;&yacy;&lcy;&iecy;&ncy;&ycy;&iecy; &kcy;&ocy;&lcy;&bcy;&acy;&scy;&ycy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/kolbasy-kopchenye-isg239/syrokopchenye-kolbasy-isg286/' aria-label='Сырокопченые колбасы')
											span.nav-lvl3-item-name &Scy;&ycy;&rcy;&ocy;&kcy;&ocy;&pcy;&chcy;&iecy;&ncy;&ycy;&iecy; &kcy;&ocy;&lcy;&bcy;&acy;&scy;&ycy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/myasnye-delikatesy-isg329/' aria-label='Мясные деликатесы')
								span.nav-lvl2-item-name &Mcy;&yacy;&scy;&ncy;&ycy;&iecy; &dcy;&iecy;&lcy;&icy;&kcy;&acy;&tcy;&iecy;&scy;&ycy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/myasnye-delikatesy-isg329/varenye-myasnye-kopchenosti-isg129/' aria-label='Вареные мясные копчености')
											span.nav-lvl3-item-name &Vcy;&acy;&rcy;&iecy;&ncy;&ycy;&iecy; &mcy;&yacy;&scy;&ncy;&ycy;&iecy; &kcy;&ocy;&pcy;&chcy;&iecy;&ncy;&ocy;&scy;&tcy;&icy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/myasnye-delikatesy-isg329/grudinki-shpiki-myasnye-kopchenosti-isg217/' aria-label='Грудинки, шпики мясные копчености')
											span.nav-lvl3-item-name &Gcy;&rcy;&ucy;&dcy;&icy;&ncy;&kcy;&icy;, &shcy;&pcy;&icy;&kcy;&icy; &mcy;&yacy;&scy;&ncy;&ycy;&iecy; &kcy;&ocy;&pcy;&chcy;&iecy;&ncy;&ocy;&scy;&tcy;&icy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/myasnye-delikatesy-isg329/kopcheno-varenye-myasnye-kopchenosti-isg194/' aria-label='Копчено-вареные мясные копчености')
											span.nav-lvl3-item-name &Kcy;&ocy;&pcy;&chcy;&iecy;&ncy;&ocy;-&vcy;&acy;&rcy;&iecy;&ncy;&ycy;&iecy; &mcy;&yacy;&scy;&ncy;&ycy;&iecy; &kcy;&ocy;&pcy;&chcy;&iecy;&ncy;&ocy;&scy;&tcy;&icy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/myasnye-delikatesy-isg329/kopcheno-zapechenye-myasnye-kopchenosti-isg180/' aria-label='Копчено-запеченые мясные копчености')
											span.nav-lvl3-item-name &Kcy;&ocy;&pcy;&chcy;&iecy;&ncy;&ocy;-&zcy;&acy;&pcy;&iecy;&chcy;&iecy;&ncy;&ycy;&iecy; &mcy;&yacy;&scy;&ncy;&ycy;&iecy; &kcy;&ocy;&pcy;&chcy;&iecy;&ncy;&ocy;&scy;&tcy;&icy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/myasnye-delikatesy-isg329/syrovyalenye-myasnye-kopchenosti-isg252/' aria-label='Сыровяленые мясные копчености')
											span.nav-lvl3-item-name &Scy;&ycy;&rcy;&ocy;&vcy;&yacy;&lcy;&iecy;&ncy;&ycy;&iecy; &mcy;&yacy;&scy;&ncy;&ycy;&iecy; &kcy;&ocy;&pcy;&chcy;&iecy;&ncy;&ocy;&scy;&tcy;&icy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/myasnye-delikatesy-isg329/syrokopchenye-myasnye-kopchenosti-isg255/' aria-label='Сырокопченые мясные копчености')
											span.nav-lvl3-item-name &Scy;&ycy;&rcy;&ocy;&kcy;&ocy;&pcy;&chcy;&iecy;&ncy;&ycy;&iecy; &mcy;&yacy;&scy;&ncy;&ycy;&iecy; &kcy;&ocy;&pcy;&chcy;&iecy;&ncy;&ocy;&scy;&tcy;&icy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/myasnye-konservy-isg318/' aria-label='Мясные консервы')
								span.nav-lvl2-item-name &Mcy;&yacy;&scy;&ncy;&ycy;&iecy; &kcy;&ocy;&ncy;&scy;&iecy;&rcy;&vcy;&ycy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/myasnye-konservy-isg318/myasnye-konservy-isg361/' aria-label='Мясные консервы')
											span.nav-lvl3-item-name &Mcy;&yacy;&scy;&ncy;&ycy;&iecy; &kcy;&ocy;&ncy;&scy;&iecy;&rcy;&vcy;&ycy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/myasnye-konservy-isg318/myaso-rastitelnye-konservy-isg54/' aria-label='Мясо растительные консервы')
											span.nav-lvl3-item-name &Mcy;&yacy;&scy;&ocy; &rcy;&acy;&scy;&tcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&iecy; &kcy;&ocy;&ncy;&scy;&iecy;&rcy;&vcy;&ycy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/myasnye-konservy-isg318/pashtety-myasnye-isg122/' aria-label='Паштеты мясные')
											span.nav-lvl3-item-name &Pcy;&acy;&shcy;&tcy;&iecy;&tcy;&ycy; &mcy;&yacy;&scy;&ncy;&ycy;&iecy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/myaso-isg269/' aria-label='Мясо')
								span.nav-lvl2-item-name &Mcy;&yacy;&scy;&ocy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/myaso-isg269/govyadina-isg353/' aria-label='Говядина')
											span.nav-lvl3-item-name &Gcy;&ocy;&vcy;&yacy;&dcy;&icy;&ncy;&acy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/myaso-isg269/svinina-isg268/' aria-label='Свинина')
											span.nav-lvl3-item-name &Scy;&vcy;&icy;&ncy;&icy;&ncy;&acy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/pashtety-liver-isg88/' aria-label='Паштеты, ливер')
								span.nav-lvl2-item-name &Pcy;&acy;&shcy;&tcy;&iecy;&tcy;&ycy;, &lcy;&icy;&vcy;&iecy;&rcy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/pashtety-liver-isg88/zeltsy-studni-nefond-isg57/' aria-label='Зельцы, студни (нефонд)')
											span.nav-lvl3-item-name &Zcy;&iecy;&lcy;&softcy;&tscy;&ycy;, &scy;&tcy;&ucy;&dcy;&ncy;&icy; (&ncy;&iecy;&fcy;&ocy;&ncy;&dcy;)
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/pashtety-liver-isg88/pashtety-nefond-isg151/' aria-label='Паштеты (нефонд)')
											span.nav-lvl3-item-name &Pcy;&acy;&shcy;&tcy;&iecy;&tcy;&ycy; (&ncy;&iecy;&fcy;&ocy;&ncy;&dcy;)
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/pashtety-liver-isg88/saltisony-nefond-isg351/' aria-label='Сальтисоны (нефонд)')
											span.nav-lvl3-item-name &Scy;&acy;&lcy;&softcy;&tcy;&icy;&scy;&ocy;&ncy;&ycy; (&ncy;&iecy;&fcy;&ocy;&ncy;&dcy;)
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/polufabrikaty-iz-myasa-ptitsy-isg185/' aria-label='Полуфабрикаты из мяса, птицы')
								span.nav-lvl2-item-name &Pcy;&ocy;&lcy;&ucy;&fcy;&acy;&bcy;&rcy;&icy;&kcy;&acy;&tcy;&ycy; &icy;&zcy; &mcy;&yacy;&scy;&acy;, &pcy;&tcy;&icy;&tscy;&ycy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/polufabrikaty-iz-myasa-ptitsy-isg185/kolbasa-isg94/' aria-label='Колбаса')
											span.nav-lvl3-item-name &Kcy;&ocy;&lcy;&bcy;&acy;&scy;&acy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/polufabrikaty-iz-myasa-ptitsy-isg185/kotlety-golubtsy-isg136/' aria-label='Котлеты,голубцы')
											span.nav-lvl3-item-name &Kcy;&ocy;&tcy;&lcy;&iecy;&tcy;&ycy;,&gcy;&ocy;&lcy;&ucy;&bcy;&tscy;&ycy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/polufabrikaty-iz-myasa-ptitsy-isg185/pelmeni-i-vareniki-isg96/' aria-label='Пельмени и вареники')
											span.nav-lvl3-item-name &Pcy;&iecy;&lcy;&softcy;&mcy;&iecy;&ncy;&icy; &icy; &vcy;&acy;&rcy;&iecy;&ncy;&icy;&kcy;&icy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/polufabrikaty-iz-myasa-ptitsy-isg185/farsh-isg372/' aria-label='Фарш')
											span.nav-lvl3-item-name &Fcy;&acy;&rcy;&shcy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/polufabrikaty-iz-myasa-ptitsy-isg185/shashlyki-isg42/' aria-label='Шашлыки')
											span.nav-lvl3-item-name &SHcy;&acy;&shcy;&lcy;&ycy;&kcy;&icy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/ptitsa-isg26/' aria-label='Птица')
								span.nav-lvl2-item-name &Pcy;&tcy;&icy;&tscy;&acy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/ptitsa-isg26/indeyka-isg277/' aria-label='Индейка')
											span.nav-lvl3-item-name &Icy;&ncy;&dcy;&iecy;&jcy;&kcy;&acy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/ptitsa-isg26/tushka-tsyplenka-i-razdelka-isg155/' aria-label='Тушка цыпленка и разделка')
											span.nav-lvl3-item-name &Tcy;&ucy;&shcy;&kcy;&acy; &tscy;&ycy;&pcy;&lcy;&iecy;&ncy;&kcy;&acy; &icy; &rcy;&acy;&zcy;&dcy;&iecy;&lcy;&kcy;&acy;
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/ptitsa-isg26/utka-isg248/' aria-label='Утка')
											span.nav-lvl3-item-name &Ucy;&tcy;&kcy;&acy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/sosiski-sardelki-isg343/' aria-label='Сосиски, сардельки')
								span.nav-lvl2-item-name &Scy;&ocy;&scy;&icy;&scy;&kcy;&icy;, &scy;&acy;&rcy;&dcy;&iecy;&lcy;&softcy;&kcy;&icy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/sosiski-sardelki-isg343/sosiski-sardelki-isg142/' aria-label='Сосиски, сардельки')
											span.nav-lvl3-item-name &Scy;&ocy;&scy;&icy;&scy;&kcy;&icy;, &scy;&acy;&rcy;&dcy;&iecy;&lcy;&softcy;&kcy;&icy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/subprodukty-isg109/' aria-label='Субпродукты')
								span.nav-lvl2-item-name &Scy;&ucy;&bcy;&pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tcy;&ycy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/myaso-ptitsa-kolbasa-isg310/subprodukty-isg109/ptitsy-isg243/' aria-label='Птицы')
											span.nav-lvl3-item-name &Pcy;&tcy;&icy;&tscy;&ycy;
			li.nav-item.has-nav
				a.nav-link(href='/catalog/ovoshchi-frukty-yagody-griby-zelen-isg187/' aria-label='Автотовары')
					span.nav-item-img-wrap
						+icon('i-catalog-11')(style="width: 30px; height: 30px")

					span.nav-item-name Красота и здоровье
					span.nav-toggle.js-nav-toggle
					.nav-lvl2-bg
						+icon('i-catalog-11')(style="width: 100%; height: 100%")
				.js-nav.nav-lvl2
					ul.nav-lvl2-list
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/ovoshchi-frukty-yagody-griby-zelen-isg187/griby-isg24/' aria-label='Грибы')
								span.nav-lvl2-item-name &Gcy;&rcy;&icy;&bcy;&ycy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/ovoshchi-frukty-yagody-griby-zelen-isg187/zelen-salaty-isg3/' aria-label='Зелень, салаты')
								span.nav-lvl2-item-name &Zcy;&iecy;&lcy;&iecy;&ncy;&softcy;, &scy;&acy;&lcy;&acy;&tcy;&ycy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/ovoshchi-frukty-yagody-griby-zelen-isg187/ovoshchi-isg274/' aria-label='Овощи')
								span.nav-lvl2-item-name &Ocy;&vcy;&ocy;&shchcy;&icy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/ovoshchi-frukty-yagody-griby-zelen-isg187/frukty-isg278/' aria-label='Фрукты')
								span.nav-lvl2-item-name &Fcy;&rcy;&ucy;&kcy;&tcy;&ycy;
			li.nav-item.has-nav
				a.nav-link(href='/catalog/rastitelnoe-maslo-sousy-i-priprava-isg371/' aria-label='Текстиль')
					span.nav-item-img-wrap
						+icon('i-catalog-12')(style="width: 30px; height: 30px")
					span.nav-item-name Мебель
					span.nav-toggle.js-nav-toggle
					.nav-lvl2-bg
						+icon('i-catalog-12')(style="width: 100%; height: 100%")
				.js-nav.nav-lvl2
					ul.nav-lvl2-list
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/rastitelnoe-maslo-sousy-i-priprava-isg371/dlya-vypechki-i-desertov-isg311/' aria-label='Для выпечки и десертов')
								span.nav-lvl2-item-name &Dcy;&lcy;&yacy; &vcy;&ycy;&pcy;&iecy;&chcy;&kcy;&icy; &icy; &dcy;&iecy;&scy;&iecy;&rcy;&tcy;&ocy;&vcy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/rastitelnoe-maslo-sousy-i-priprava-isg371/produkty-vostochnoy-kukhni-isg162/' aria-label='Продукты восточной кухни')
								span.nav-lvl2-item-name &Pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tcy;&ycy; &vcy;&ocy;&scy;&tcy;&ocy;&chcy;&ncy;&ocy;&jcy; &kcy;&ucy;&khcy;&ncy;&icy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/rastitelnoe-maslo-sousy-i-priprava-isg371/rastitelnoe-maslo-isg15/' aria-label='Растительное масло')
								span.nav-lvl2-item-name &Rcy;&acy;&scy;&tcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;&iecy; &mcy;&acy;&scy;&lcy;&ocy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/rastitelnoe-maslo-sousy-i-priprava-isg371/sol-soda-isg140/' aria-label='Соль, сода')
								span.nav-lvl2-item-name &Scy;&ocy;&lcy;&softcy;, &scy;&ocy;&dcy;&acy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/rastitelnoe-maslo-sousy-i-priprava-isg371/sousy-zapravki-uksus-isg107/' aria-label='Соусы, заправки, уксус')
								span.nav-lvl2-item-name &Scy;&ocy;&ucy;&scy;&ycy;, &zcy;&acy;&pcy;&rcy;&acy;&vcy;&kcy;&icy;, &ucy;&kcy;&scy;&ucy;&scy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/rastitelnoe-maslo-sousy-i-priprava-isg371/spetsii-pripravy-marinady-isg306/' aria-label='Специи, приправы, маринады')
								span.nav-lvl2-item-name &Scy;&pcy;&iecy;&tscy;&icy;&icy;, &pcy;&rcy;&icy;&pcy;&rcy;&acy;&vcy;&ycy;, &mcy;&acy;&rcy;&icy;&ncy;&acy;&dcy;&ycy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/rastitelnoe-maslo-sousy-i-priprava-isg371/tomatnye-pasty-ketchupy-isg143/' aria-label='Томатные пасты, кетчупы')
								span.nav-lvl2-item-name &Tcy;&ocy;&mcy;&acy;&tcy;&ncy;&ycy;&iecy; &pcy;&acy;&scy;&tcy;&ycy;, &kcy;&iecy;&tcy;&chcy;&ucy;&pcy;&ycy;
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/rastitelnoe-maslo-sousy-i-priprava-isg371/khren-gorchitsa-isg338/' aria-label='Хрен, горчица')
								span.nav-lvl2-item-name &KHcy;&rcy;&iecy;&ncy;, &gcy;&ocy;&rcy;&chcy;&icy;&tscy;&acy;
			li.nav-item.has-nav
				a.nav-link(href='/catalog/ryba-moreprodukty-ikra-isg111/' aria-label='Хозяйственные товары')
					span.nav-item-img-wrap
						+icon('i-catalog-13')(style="width: 30px; height: 30px")


					span.nav-item-name Музыка и видео
					span.nav-toggle.js-nav-toggle
					.nav-lvl2-bg
						+icon('i-catalog-13')(style="width: 100%; height: 100%")
				.js-nav.nav-lvl2
					ul.nav-lvl2-list
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/ryba-moreprodukty-ikra-isg111/zakuski-iz-ryby-i-moreproduktov-isg297/' aria-label='Закуски из рыбы и морепродуктов')
								span.nav-lvl2-item-name &Zcy;&acy;&kcy;&ucy;&scy;&kcy;&icy; &icy;&zcy; &rcy;&ycy;&bcy;&ycy; &icy; &mcy;&ocy;&rcy;&iecy;&pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tcy;&ocy;&vcy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/ryba-moreprodukty-ikra-isg111/zakuski-iz-ryby-i-moreproduktov-isg297/surimi-krabovye-palochki-myaso-isg273/' aria-label='Сурими/крабовые палочки/мясо')
											span.nav-lvl3-item-name &Scy;&ucy;&rcy;&icy;&mcy;&icy;/&kcy;&rcy;&acy;&bcy;&ocy;&vcy;&ycy;&iecy; &pcy;&acy;&lcy;&ocy;&chcy;&kcy;&icy;/&mcy;&yacy;&scy;&ocy;

			li.nav-item.has-nav
				a.nav-link(href='/catalog/ryba-moreprodukty-ikra-isg111/' aria-label='Мебель')
					span.nav-item-img-wrap
						+icon('i-catalog-14')(style="width: 30px; height: 30px")

					span.nav-item-name Одежда, обувь, аксессуары
					span.nav-toggle.js-nav-toggle
					.nav-lvl2-bg
						+icon('i-catalog-14')(style="width: 100%; height: 100%")
				.js-nav.nav-lvl2
					ul.nav-lvl2-list
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/ryba-moreprodukty-ikra-isg111/zakuski-iz-ryby-i-moreproduktov-isg297/' aria-label='Закуски из рыбы и морепродуктов')
								span.nav-lvl2-item-name &Zcy;&acy;&kcy;&ucy;&scy;&kcy;&icy; &icy;&zcy; &rcy;&ycy;&bcy;&ycy; &icy; &mcy;&ocy;&rcy;&iecy;&pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tcy;&ocy;&vcy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/ryba-moreprodukty-ikra-isg111/zakuski-iz-ryby-i-moreproduktov-isg297/surimi-krabovye-palochki-myaso-isg273/' aria-label='Сурими/крабовые палочки/мясо')
											span.nav-lvl3-item-name &Scy;&ucy;&rcy;&icy;&mcy;&icy;/&kcy;&rcy;&acy;&bcy;&ocy;&vcy;&ycy;&iecy; &pcy;&acy;&lcy;&ocy;&chcy;&kcy;&icy;/&mcy;&yacy;&scy;&ocy;
			li.nav-item.has-nav
				a.nav-link(href='/catalog/ryba-moreprodukty-ikra-isg111/' aria-label='Мебель')
					span.nav-item-img-wrap
						+icon('i-catalog-15')(style="width: 30px; height: 30px")

					span.nav-item-name Продукты питания
					span.nav-toggle.js-nav-toggle
					.nav-lvl2-bg
						+icon('i-catalog-15')(style="width: 100%; height: 100%")
				.js-nav.nav-lvl2
					ul.nav-lvl2-list
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/ryba-moreprodukty-ikra-isg111/zakuski-iz-ryby-i-moreproduktov-isg297/' aria-label='Закуски из рыбы и морепродуктов')
								span.nav-lvl2-item-name &Zcy;&acy;&kcy;&ucy;&scy;&kcy;&icy; &icy;&zcy; &rcy;&ycy;&bcy;&ycy; &icy; &mcy;&ocy;&rcy;&iecy;&pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tcy;&ocy;&vcy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/ryba-moreprodukty-ikra-isg111/zakuski-iz-ryby-i-moreproduktov-isg297/surimi-krabovye-palochki-myaso-isg273/' aria-label='Сурими/крабовые палочки/мясо')
											span.nav-lvl3-item-name &Scy;&ucy;&rcy;&icy;&mcy;&icy;/&kcy;&rcy;&acy;&bcy;&ocy;&vcy;&ycy;&iecy; &pcy;&acy;&lcy;&ocy;&chcy;&kcy;&icy;/&mcy;&yacy;&scy;&ocy;
			li.nav-item.has-nav
				a.nav-link(href='/catalog/ryba-moreprodukty-ikra-isg111/' aria-label='Мебель')
					span.nav-item-img-wrap
						+icon('i-catalog-16')(style="width: 30px; height: 30px")

					span.nav-item-name Спортивные товары
					span.nav-toggle.js-nav-toggle
					.nav-lvl2-bg
						+icon('i-catalog-16')(style="width: 100%; height: 100%")
				.js-nav.nav-lvl2
					ul.nav-lvl2-list
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/ryba-moreprodukty-ikra-isg111/zakuski-iz-ryby-i-moreproduktov-isg297/' aria-label='Закуски из рыбы и морепродуктов')
								span.nav-lvl2-item-name &Zcy;&acy;&kcy;&ucy;&scy;&kcy;&icy; &icy;&zcy; &rcy;&ycy;&bcy;&ycy; &icy; &mcy;&ocy;&rcy;&iecy;&pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tcy;&ocy;&vcy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/ryba-moreprodukty-ikra-isg111/zakuski-iz-ryby-i-moreproduktov-isg297/surimi-krabovye-palochki-myaso-isg273/' aria-label='Сурими/крабовые палочки/мясо')
											span.nav-lvl3-item-name &Scy;&ucy;&rcy;&icy;&mcy;&icy;/&kcy;&rcy;&acy;&bcy;&ocy;&vcy;&ycy;&iecy; &pcy;&acy;&lcy;&ocy;&chcy;&kcy;&icy;/&mcy;&yacy;&scy;&ocy;
			li.nav-item.has-nav
				a.nav-link(href='/catalog/ryba-moreprodukty-ikra-isg111/' aria-label='Мебель')
					span.nav-item-img-wrap
						+icon('i-catalog-17')(style="width: 30px; height: 30px")

					span.nav-item-name Товары ддля взрослых
					span.nav-toggle.js-nav-toggle
					.nav-lvl2-bg
						+icon('i-catalog-17')(style="width: 100%; height: 100%")
				.js-nav.nav-lvl2
					ul.nav-lvl2-list
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/ryba-moreprodukty-ikra-isg111/zakuski-iz-ryby-i-moreproduktov-isg297/' aria-label='Закуски из рыбы и морепродуктов')
								span.nav-lvl2-item-name &Zcy;&acy;&kcy;&ucy;&scy;&kcy;&icy; &icy;&zcy; &rcy;&ycy;&bcy;&ycy; &icy; &mcy;&ocy;&rcy;&iecy;&pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tcy;&ocy;&vcy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/ryba-moreprodukty-ikra-isg111/zakuski-iz-ryby-i-moreproduktov-isg297/surimi-krabovye-palochki-myaso-isg273/' aria-label='Сурими/крабовые палочки/мясо')
											span.nav-lvl3-item-name &Scy;&ucy;&rcy;&icy;&mcy;&icy;/&kcy;&rcy;&acy;&bcy;&ocy;&vcy;&ycy;&iecy; &pcy;&acy;&lcy;&ocy;&chcy;&kcy;&icy;/&mcy;&yacy;&scy;&ocy;
			li.nav-item.has-nav
				a.nav-link(href='/catalog/ryba-moreprodukty-ikra-isg111/' aria-label='Мебель')
					span.nav-item-img-wrap
						+icon('i-catalog-18')(style="width: 30px; height: 30px")

					span.nav-item-name Товары для животных
					span.nav-toggle.js-nav-toggle
					.nav-lvl2-bg
						+icon('i-catalog-18')(style="width: 100%; height: 100%")
				.js-nav.nav-lvl2
					ul.nav-lvl2-list
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/ryba-moreprodukty-ikra-isg111/zakuski-iz-ryby-i-moreproduktov-isg297/' aria-label='Закуски из рыбы и морепродуктов')
								span.nav-lvl2-item-name &Zcy;&acy;&kcy;&ucy;&scy;&kcy;&icy; &icy;&zcy; &rcy;&ycy;&bcy;&ycy; &icy; &mcy;&ocy;&rcy;&iecy;&pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tcy;&ocy;&vcy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/ryba-moreprodukty-ikra-isg111/zakuski-iz-ryby-i-moreproduktov-isg297/surimi-krabovye-palochki-myaso-isg273/' aria-label='Сурими/крабовые палочки/мясо')
											span.nav-lvl3-item-name &Scy;&ucy;&rcy;&icy;&mcy;&icy;/&kcy;&rcy;&acy;&bcy;&ocy;&vcy;&ycy;&iecy; &pcy;&acy;&lcy;&ocy;&chcy;&kcy;&icy;/&mcy;&yacy;&scy;&ocy;
			li.nav-item.has-nav
				a.nav-link(href='/catalog/ryba-moreprodukty-ikra-isg111/' aria-label='Мебель')
					span.nav-item-img-wrap
						+icon('i-catalog-19')(style="width: 30px; height: 30px")

					span.nav-item-name Туризм, рыбалка, охота
					span.nav-toggle.js-nav-toggle
					.nav-lvl2-bg
						+icon('i-catalog-19')(style="width: 100%; height: 100%")
				.js-nav.nav-lvl2
					ul.nav-lvl2-list
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/ryba-moreprodukty-ikra-isg111/zakuski-iz-ryby-i-moreproduktov-isg297/' aria-label='Закуски из рыбы и морепродуктов')
								span.nav-lvl2-item-name &Zcy;&acy;&kcy;&ucy;&scy;&kcy;&icy; &icy;&zcy; &rcy;&ycy;&bcy;&ycy; &icy; &mcy;&ocy;&rcy;&iecy;&pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tcy;&ocy;&vcy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/ryba-moreprodukty-ikra-isg111/zakuski-iz-ryby-i-moreproduktov-isg297/surimi-krabovye-palochki-myaso-isg273/' aria-label='Сурими/крабовые палочки/мясо')
											span.nav-lvl3-item-name &Scy;&ucy;&rcy;&icy;&mcy;&icy;/&kcy;&rcy;&acy;&bcy;&ocy;&vcy;&ycy;&iecy; &pcy;&acy;&lcy;&ocy;&chcy;&kcy;&icy;/&mcy;&yacy;&scy;&ocy;
			li.nav-item.has-nav
				a.nav-link(href='/catalog/ryba-moreprodukty-ikra-isg111/' aria-label='Мебель')
					span.nav-item-img-wrap
						+icon('i-catalog-20')(style="width: 30px; height: 30px")

					span.nav-item-name Хобби и творчество
					span.nav-toggle.js-nav-toggle
					.nav-lvl2-bg
						+icon('i-catalog-20')(style="width: 100%; height: 100%")
				.js-nav.nav-lvl2
					ul.nav-lvl2-list
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/ryba-moreprodukty-ikra-isg111/zakuski-iz-ryby-i-moreproduktov-isg297/' aria-label='Закуски из рыбы и морепродуктов')
								span.nav-lvl2-item-name &Zcy;&acy;&kcy;&ucy;&scy;&kcy;&icy; &icy;&zcy; &rcy;&ycy;&bcy;&ycy; &icy; &mcy;&ocy;&rcy;&iecy;&pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tcy;&ocy;&vcy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/ryba-moreprodukty-ikra-isg111/zakuski-iz-ryby-i-moreproduktov-isg297/surimi-krabovye-palochki-myaso-isg273/' aria-label='Сурими/крабовые палочки/мясо')
											span.nav-lvl3-item-name &Scy;&ucy;&rcy;&icy;&mcy;&icy;/&kcy;&rcy;&acy;&bcy;&ocy;&vcy;&ycy;&iecy; &pcy;&acy;&lcy;&ocy;&chcy;&kcy;&icy;/&mcy;&yacy;&scy;&ocy;
			li.nav-item.has-nav
				a.nav-link(href='/catalog/ryba-moreprodukty-ikra-isg111/' aria-label='Мебель')
					span.nav-item-img-wrap
						+icon('i-catalog-21')(style="width: 30px; height: 30px")

					span.nav-item-name Цифровые товары
					span.nav-toggle.js-nav-toggle
					.nav-lvl2-bg
						+icon('i-catalog-21')(style="width: 100%; height: 100%")
				.js-nav.nav-lvl2
					ul.nav-lvl2-list
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/ryba-moreprodukty-ikra-isg111/zakuski-iz-ryby-i-moreproduktov-isg297/' aria-label='Закуски из рыбы и морепродуктов')
								span.nav-lvl2-item-name &Zcy;&acy;&kcy;&ucy;&scy;&kcy;&icy; &icy;&zcy; &rcy;&ycy;&bcy;&ycy; &icy; &mcy;&ocy;&rcy;&iecy;&pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tcy;&ocy;&vcy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/ryba-moreprodukty-ikra-isg111/zakuski-iz-ryby-i-moreproduktov-isg297/surimi-krabovye-palochki-myaso-isg273/' aria-label='Сурими/крабовые палочки/мясо')
											span.nav-lvl3-item-name &Scy;&ucy;&rcy;&icy;&mcy;&icy;/&kcy;&rcy;&acy;&bcy;&ocy;&vcy;&ycy;&iecy; &pcy;&acy;&lcy;&ocy;&chcy;&kcy;&icy;/&mcy;&yacy;&scy;&ocy;
			li.nav-item.has-nav
				a.nav-link(href='/catalog/ryba-moreprodukty-ikra-isg111/' aria-label='Мебель')
					span.nav-item-img-wrap
						+icon('i-catalog-22')(style="width: 30px; height: 30px")

					span.nav-item-name Электроника
					span.nav-toggle.js-nav-toggle
					.nav-lvl2-bg
						+icon('i-catalog-22')(style="width: 100%; height: 100%")
				.js-nav.nav-lvl2
					ul.nav-lvl2-list
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/ryba-moreprodukty-ikra-isg111/zakuski-iz-ryby-i-moreproduktov-isg297/' aria-label='Закуски из рыбы и морепродуктов')
								span.nav-lvl2-item-name &Zcy;&acy;&kcy;&ucy;&scy;&kcy;&icy; &icy;&zcy; &rcy;&ycy;&bcy;&ycy; &icy; &mcy;&ocy;&rcy;&iecy;&pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tcy;&ocy;&vcy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/ryba-moreprodukty-ikra-isg111/zakuski-iz-ryby-i-moreproduktov-isg297/surimi-krabovye-palochki-myaso-isg273/' aria-label='Сурими/крабовые палочки/мясо')
											span.nav-lvl3-item-name &Scy;&ucy;&rcy;&icy;&mcy;&icy;/&kcy;&rcy;&acy;&bcy;&ocy;&vcy;&ycy;&iecy; &pcy;&acy;&lcy;&ocy;&chcy;&kcy;&icy;/&mcy;&yacy;&scy;&ocy;
			li.nav-item.has-nav
				a.nav-link(href='/catalog/ryba-moreprodukty-ikra-isg111/' aria-label='Мебель')
					span.nav-item-img-wrap
						+icon('i-catalog-23')(style="width: 30px; height: 30px")

					span.nav-item-name Электронные сигареты и товары курения
					span.nav-toggle.js-nav-toggle
					.nav-lvl2-bg
						+icon('i-catalog-23')(style="width: 100%; height: 100%")
				.js-nav.nav-lvl2
					ul.nav-lvl2-list
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/ryba-moreprodukty-ikra-isg111/zakuski-iz-ryby-i-moreproduktov-isg297/' aria-label='Закуски из рыбы и морепродуктов')
								span.nav-lvl2-item-name &Zcy;&acy;&kcy;&ucy;&scy;&kcy;&icy; &icy;&zcy; &rcy;&ycy;&bcy;&ycy; &icy; &mcy;&ocy;&rcy;&iecy;&pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tcy;&ocy;&vcy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/ryba-moreprodukty-ikra-isg111/zakuski-iz-ryby-i-moreproduktov-isg297/surimi-krabovye-palochki-myaso-isg273/' aria-label='Сурими/крабовые палочки/мясо')
											span.nav-lvl3-item-name &Scy;&ucy;&rcy;&icy;&mcy;&icy;/&kcy;&rcy;&acy;&bcy;&ocy;&vcy;&ycy;&iecy; &pcy;&acy;&lcy;&ocy;&chcy;&kcy;&icy;/&mcy;&yacy;&scy;&ocy;
			li.nav-item.has-nav
				a.nav-link(href='/catalog/ryba-moreprodukty-ikra-isg111/' aria-label='Мебель')
					span.nav-item-img-wrap
						+icon('i-catalog-24')(style="width: 30px; height: 30px")

					span.nav-item-name Ювелирные украшения
					span.nav-toggle.js-nav-toggle
					.nav-lvl2-bg
						+icon('i-catalog-24')(style="width: 100%; height: 100%")
				.js-nav.nav-lvl2
					ul.nav-lvl2-list
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/ryba-moreprodukty-ikra-isg111/zakuski-iz-ryby-i-moreproduktov-isg297/' aria-label='Закуски из рыбы и морепродуктов')
								span.nav-lvl2-item-name &Zcy;&acy;&kcy;&ucy;&scy;&kcy;&icy; &icy;&zcy; &rcy;&ycy;&bcy;&ycy; &icy; &mcy;&ocy;&rcy;&iecy;&pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tcy;&ocy;&vcy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/ryba-moreprodukty-ikra-isg111/zakuski-iz-ryby-i-moreproduktov-isg297/surimi-krabovye-palochki-myaso-isg273/' aria-label='Сурими/крабовые палочки/мясо')
											span.nav-lvl3-item-name &Scy;&ucy;&rcy;&icy;&mcy;&icy;/&kcy;&rcy;&acy;&bcy;&ocy;&vcy;&ycy;&iecy; &pcy;&acy;&lcy;&ocy;&chcy;&kcy;&icy;/&mcy;&yacy;&scy;&ocy;
			li.nav-item.has-nav
				a.nav-link(href='/catalog/ryba-moreprodukty-ikra-isg111/' aria-label='Мебель')
					span.nav-item-img-wrap
						+icon('i-catalog-25')(style="width: 30px; height: 30px")

					span.nav-item-name Стройматериалы
					span.nav-toggle.js-nav-toggle
					.nav-lvl2-bg
						+icon('i-catalog-25')(style="width: 100%; height: 100%")
				.js-nav.nav-lvl2
					ul.nav-lvl2-list
						li.nav-lvl2-item.has-nav
							a.nav-lvl2-link(href='/catalog/ryba-moreprodukty-ikra-isg111/zakuski-iz-ryby-i-moreproduktov-isg297/' aria-label='Закуски из рыбы и морепродуктов')
								span.nav-lvl2-item-name &Zcy;&acy;&kcy;&ucy;&scy;&kcy;&icy; &icy;&zcy; &rcy;&ycy;&bcy;&ycy; &icy; &mcy;&ocy;&rcy;&iecy;&pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tcy;&ocy;&vcy;
								span.nav-toggle.js-nav-toggle
							.js-nav.nav-lvl3
								ul.nav-lvl3-list
									li.nav-lvl3-item
										a.nav-lvl3-link(href='/catalog/ryba-moreprodukty-ikra-isg111/zakuski-iz-ryby-i-moreproduktov-isg297/surimi-krabovye-palochki-myaso-isg273/' aria-label='Сурими/крабовые палочки/мясо')
											span.nav-lvl3-item-name &Scy;&ucy;&rcy;&icy;&mcy;&icy;/&kcy;&rcy;&acy;&bcy;&ocy;&vcy;&ycy;&iecy; &pcy;&acy;&lcy;&ocy;&chcy;&kcy;&icy;/&mcy;&yacy;&scy;&ocy;