@font-face {
    font-family: "OpenSans";
    src: url("/local/templates/html/fonts/subset-OpenSans-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "OpenSans";
    src: url("/local/templates/html/fonts/subset-OpenSans-SemiBold.woff") format("woff");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: "OpenSans";
    src: url("/local/templates/html/fonts/subset-OpenSans-Bold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('/local/templates/html/fonts/roboto-v29-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/local/templates/html/fonts/roboto-v29-latin_cyrillic-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* roboto-700 - latin_cyrillic */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('/local/templates/html/fonts/roboto-v29-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/local/templates/html/fonts/roboto-v29-latin_cyrillic-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

//Helios
@font-face {
    font-family: 'Helios';
    font-style: normal;
    font-weight: 400;
    src: url('/local/templates/html/fonts/HeliosC.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}