+include-style('footer')
+include-script('footer')

.footer 
	.container 
		nav.footer__menu
			ul.footer__list 
				li Каталог
				li 
					a(href='#').footer__link Акции
				li 
					a(href='#').footer__link Детям
				li 
					a(href='#').footer__link Подарки
			ul.footer__list 
				li Информация
				li 
					a(href='#').footer__link Доставка и оплата
				li 
					a(href='#').footer__link Программа лояльности
				li 
					a(href='#').footer__link О компании
			ul.footer__list 
				li Информация
				li 
					a(href='#').footer__link Доставка и оплата
				li 
					a(href='#').footer__link Программа лояльности
				li 
					a(href='#').footer__link О компании
			ul.footer__list 
				li Контакты
				li 
					a(href='#').footer__link.footer__icon.i-time Доставка и оплата
				li 
					a(href='tel:+375173880082').footer__link.footer__icon.i-phone-alt +375 (17) 388-00-82
				li 
					a(href='mailto:info@slam.shop').footer__link.footer__icon.i-mail-alt info@slam.shop
				li 
					a(href='#').footer__link.ico.i-fb
					a(href='#').footer__link.ico.i-inst