+include-style('footer')
+include-script('footer')

.footer 
	.container 
		nav.footer__menu
			+nav({
				mod: 'footer__list',
				list: [
					{name: 'Каталог'},
					{name: 'Акции'},
					{name: 'Детям'},
					{name: 'Подарки'},
					]
				})
			+nav({
				mod: 'footer__list',
				list: [
					{name: 'Информация'},
					{name: 'Доставка и оплата'},
					{name: 'Программа лояльности'},
					{name: 'О компании'},
					]
				})
			+nav({
				mod: 'footer__list',
				list: [
					{name: 'Информация'},
					{name: 'Доставка и оплата', active: true},
					{name: 'Программа лояльности'},
					{	name: 'О компании'},
					]
				})
			ul.footer__list 
				li Контакты
				li 
					+icon('i-time')(style='width:24px; height:24px').footer__icon
					a(href='#').footer__link Доставка и оплата
				li 
					+icon('i-phone')(style='width:24px; height:24px').footer__icon
					a(href='tel:+375173880082').footer__link +375 (17) 388-00-82
				li 
					+icon('i-mail')(style='width:20px; height:20px').footer__icon
					a(href='mailto:info@slam.shop').footer__link info@slam.shop
				li 
					a(href='#').footer__link.ico
						+icon('i-fb')(style='width:28px; height:28px')
					a(href='#').footer__link.ico
						+icon('i-inst')(style='width:28px; height:28px')
