@import "src/assets/css/vars_mixins/vars_mixins";
.nav--header-top {
    .nav-list {
        display: flex;
    }
    .nav-item {
        margin-right: 32px;
        position: relative;
        &:after {
            position: absolute;
            content: '';
            top: 100%;
            left: 0;
            right: 100%;
            height: 1px;
            background-color: $c-primary;
            transition: all .3s ease;
        }
        @media (max-width: $lg - 1) {
            margin-right: 20px;
            white-space: nowrap;
        }
        &:hover {
            @media (min-width: 1024px) {
                cursor: pointer;
                .nav-link {
                    color: $c-primary;
                }
                &:after {
                    right: 0;
                }
            }
        }
        &.active {
            .nav-link {
                color: $c-primary
            }
        }
    }
}

.nav--header-bottom {
    .nav-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-item {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 16px 0px;
        @media (max-width: $lg - 1) {
            padding: 16px 0px;
        }
        background-color: $c-primary;
        transition: background-color .3s ease;
        &:hover {
            @media (min-width: $md) {
                cursor: pointer;
                background-color: $c-primary-2;
            }
        }
        &.active {
            background-color: $c-primary-hover;
        }
    }
    .nav-item-name {
        color: #fff;
    }
}

.nav--mobile {
    .nav-list {
        display: flex;
        flex-direction: column;
    }
    .nav-item {
        padding: 8px 0px;
    }
}

.nav-mobile--bold {
    .nav-item {
        font-weight: 600;
    }
}

.nav--catalog {
    .nav-list {
        column-count: 3;
        display: block;
    }
    .nav-item {
        margin-bottom: 90px;
        break-inside: avoid-column;
        page-break-inside: avoid;
    }
    .nav-link {
        margin-bottom: 25px;
        font-weight: 600;
        font-size: 24px;
    }
    .nav-lvl2-link {
        font-size: 18px;
        margin-bottom: 20px;
        break-inside: avoid-column;
        page-break-inside: avoid;
    }
    .nav-lvl2-item {
        break-inside: avoid-column;
        page-break-inside: avoid;
        display: none;
        &:nth-child(-n + 6) {
            display: block;
        }
    }
    .nav-list.more {
        .nav-lvl2-item {
            display: block;
        }
    }
}

.nav-show-more {
    display: flex;
    align-items: center;
    color: $c-primary;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    &.active {
        .icon {
            transform: rotate(-90deg);
        }
    }
    &:after {
        position: absolute;
        content: '';
        top: 100%;
        left: 0;
        right: 100%;
        height: 1px;
        background-color: $c-primary;
        transition: all .3s ease;
    }
    span {
        margin-right: 15px;
    }
    .icon {
        fill: $c-primary;
        transform: rotate(90deg);
    }
    &:hover {
        @media (min-width: 1024px) {
            cursor: pointer;
            &:after {
                right: 0;
            }
        }
    }
}

.nav--side-catalog {
    .nav-item {
        padding: 4px 0px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        .icon {
            transform: rotate(0deg);
            margin-right: 14px;
            fill: $c-primary;
            transition: all .3s ease;
        }
    }
    .nav-item {
        display: none;
        &:nth-child(-n + 7) {
            display: flex;
        }
    }
    .nav-list.more {
        .nav-item {
            display: flex;
        }
    }
    .nav-link {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        transition: all .3s ease;
        &.active {
            font-weight: 600;
            .icon {
                transform: rotate(90deg);
            }
        }
        &:hover {
            @media (min-width: 1024px) {
                cursor: pointer;
                color: $c-primary;
            }
        }
    }
    .nav-lvl2 {
        max-height: 0px;
        overflow: hidden;
        transition: all .2s linear;
        &.active {
            max-height: 1000px;
        }
    }
    .nav-lvl2-item {
        padding: 4px 0px;
    }
    .nav-lvl2-list {
        padding-left: 21px;
    }
    .nav-lvl2-link {
        font-size: 14px;
        padding: 4px 5px;
        transition: all .3s ease;
        &:hover {
            @media (min-width: 1024px) {
                cursor: pointer;
                background-color: #F6F6F6;
            }
        }
    }
    .nav-show-more {
        font-size: 16px;
        margin-left: 26px;
        margin-top: 8px;
    }
}

.nav--side-search {
    .nav-item {
        padding: 6px 0px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        .icon {
            transform: rotate(0deg);
            margin-right: 14px;
            fill: $c-primary;
            transition: all .3s ease;
        }
    }
    .nav-item {
        display: none;
        font-size: 14px;
        &:nth-child(-n + 7) {
            display: flex;
        }
    }
    .nav-list.more {
        .nav-item {
            display: flex;
        }
    }
    .nav-link {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        transition: all .3s ease;
        &.active {
            font-weight: 600;
            .icon {
                transform: rotate(90deg);
            }
        }
        &:hover {
            @media (min-width: 1024px) {
                cursor: pointer;
                color: $c-primary;
            }
        }
    }
    .nav-lvl2 {
        max-height: 0px;
        overflow: hidden;
        transition: all .2s linear;
        &.active {
            max-height: 1000px;
        }
    }
    .nav-lvl2-item {
        padding: 4px 0px;
    }
    .nav-lvl2-list {
        padding-left: 21px;
    }
    .nav-lvl2-link {
        font-size: 14px;
        padding: 4px 5px;
        transition: all .3s ease;
        &:hover {
            @media (min-width: 1024px) {
                cursor: pointer;
                background-color: #F6F6F6;
            }
        }
    }
    .nav-show-more {
        font-size: 14px;
        margin-top: 8px;
    }
}

.nav--personal {
    @media (max-width: $lg - 1) {
        margin-bottom: 30px;
        height: 40px;
    }
    .nav-list {
        display: flex;
        flex-direction: column;
        @media (max-width: $lg - 1) {
            z-index: 10;
            max-height: 0px;
            overflow: hidden;
            padding-top: 40px;
            position: relative;
            border: 1px solid #E4E4E4;
            box-sizing: border-box;
            border-radius: 3px;
            transition: all .3s ease;
            background-color: #fff;
            &:after {
                position: absolute;
                content: '';
                width: 10px;
                height: 6px;
                background-repeat: no-repeat;
                background-position: center;
                right: 15px;
                top: 15px;
                background-image: url("data:image/svg+xml,%3Csvg width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6.04 5L11 1' stroke='%23FE7235' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                transition: all .3s ease;
            }
        }
        &.active {
            @media (max-width: $lg - 1) {
                box-shadow: 0 3px 20px rgba(0, 0, 0, 0.08);
                max-height: 500px;
                &:after {
                    position: absolute;
                    content: '';
                    transform: rotate(180deg);
                }
            }
        }
    }
    .nav-item {
        padding: 6px 10px;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 28px;
        font-weight: 600;
        margin-bottom: 15px;
        transition: all .3s ease;
        @media (max-width: $lg - 1) {
            padding: 6px 15px;
            margin-bottom: 0px;
        }
        &.active {
            pointer-events: none;
            background-color: $c-primary-2;
            .nav-item-name {
                color: #fff;
            }
            @media (max-width: $lg - 1) {
                position: absolute;
                background-color: #fff;
                .nav-item-name {
                    color: inherit;
                }
                top: 0;
            }
        }
        &:hover {
            @media (min-width: 1024px) {
                cursor: pointer;
                background-color: $c-primary-2;
                .nav-item-name {
                    color: #fff;
                }
            }
        }
    }
    @media (max-width: $md - 1) {}
}